[2022-06-24 22:08] IanVS commented on #419
Hi, thanks.  Can you put together a small reproduction repo that we can experiment with?

Also, does it change anything if you add the `Icons` plugin before the others that are added by buidler-vite?  I think you'd need to add them by updating `config.plugins` manually, rather than using mergeConfig, but it might be worth a shot.

[2022-06-24 22:16] IanVS commented on #418
Thanks, I tested out the codesandbox, and I get the same build failures with 4.6.x as well.  There are a few steps required to use typescript in storybook config files.  https://storybook.js.org/docs/react/configure/overview#configure-your-project-with-typescript

I think the easiest option is normally to install `ts-node`, but that can also cause troubles sometimes, and I can't seem to get it to

[2022-06-24 22:30] grbd commented on #419
One workaround I've discovered so far is to use the "Raw" mode for the compiler setting

`.storybook/main.cjs`
[code]

`TestIcon.svelte`
[code]

Will look at creating an example repo for the above issue

[2022-06-24 22:49] grbd commented on #419
For info I was able to load the Icon plugin before the others by reversing the order for the mergeConfig function
and putting the original config as a last instead of a first option.
However it didn't help

I'm not sure but I'm wondering if the issue might be within sveltedoc-parser, since we're effectively adding in virtual svelte components that don't actually exist on disk

[code]

[2022-06-28 07:27] elzodxon commented on #86
` [vite] Internal server error: No files matching '/virtual:/@storybook/builder-vite/vite-app.js' were found.
`
Vite throwing this error

[2022-06-29 03:00] #234 closed

[2022-06-29 03:00] #391 closed

[2022-06-29 03:00] #398 closed

[2022-06-29 08:47] francoisromain opened #421 "[Bug]"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

Environment Info:

  System:
    OS: Linux 5.15 Ubuntu 22.04 LTS 22.04 LTS (Jammy Jellyfish)
    CPU: (8) x64 Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 1.22.19 - /usr/bin/yarn
    npm: 8.13.1 - /media/fr/fr-work/Sites/dora/dora-fr

[2022-06-29 10:04] spacedawwwg opened #422 "[Bug] v0.1.38 - Cannot import .md files into .mdx"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

System:
    OS: macOS 12.4
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 3.1.1 - ~/.nvm/versions/node/v16.15.1/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.15.1/bin/npm
  Browsers:
    Chrome: 103.0.5060.53
    Edge: 103.0.1264.37

[2022-06-29 12:20] IanVS commented on #422
Can you please share your main.js and the part of the markdown doc that is failing?  Thanks.

[2022-06-30 05:13] irnnr commented on #421
try force installing `npm i -D @mdx-js/react@1 --force`

"@mdx-js/react": "^1.6.22",

[2022-06-30 08:07] francoisromain commented on #421
@irnr it works if I fore install `@mdx-js/react@1`. Thank you

The problem now:
I can't use `npm i -f` because storybook is built by the CI.
Is there a solution? Thanks

[2022-06-30 08:43] shealavington commented on #418
I don't have much more to add on the topic, I get the same issue, but thought I'd share my experience.

Even if I remove the type declaration, (`StorybookViteConfig`), it complains about the following.

[code]

[code]

TS: v4.7.3
Node: v16.14.2

[2022-06-30 13:09] IanVS commented on #421
Hm, force installing shouldn't be necessary anymore as of 0.1.38.  I'd love to see a reproduction so I can dig in a bit.  Out of curiosity, do you get the error if you don't force install, remove node_modules, delete the lockfile, and re-install?

[2022-06-30 13:33] francoisromain commented on #421
if I don't install `@mdx-js/react`, there is this error:

[code]

[2022-06-30 13:52] IanVS commented on #421
I'm seeing this in a new bootstrapped project, as well.  @joshwooding, it looks like `@mdx-js/react` is not being hoisted up to the top of `node_modules` like I would have expected:

[code]

[2022-06-30 14:12] IanVS commented on #421
Ah ok, it's because I was using react 18, which does not satisfy the peer dependencies of @mdx-js/react@1.

Installing `@mdx-js/react@2` seems to work in my reproduction.  But, it seems like that should have been installed as part of `@storybook/mdx2-csf`.  It's not a step in the [guide](https://gist.github.com/shilman/6ff2d7e18db8846e8fc552fb432ae4f6), either.

@shilman is it expected that projec

[2022-06-30 14:45] shilman commented on #421
@IanVS sounds like maybe it's a missing dependency. Though I didn't encounter this in any of my testing in webpack storybook, so it's also possible that it's something different in the vite implementation or maybe your package manager?

[2022-06-30 15:03] IanVS commented on #421
Maybe it's a difference between yarn and npm.  Here's a repro using CRA/webpack only.  https://github.com/IanVS/storybook-repro-mdx2-webpack

I was not able to `npm run storybook` after creating the cra app and running `npx sb init`, nor after adding mdx2 support.

[2022-06-30 22:25] fivaz opened #423 "[Bug] [vite] Uncaught TypeError: Cannot read properties of undefined (reading 'custom') at .yarn/cache/object-inspect-npm-1.12.2-f125a822c0-a534fc1b85.zip/node_modules/object-inspect/index.js (index.js:69:33)"
### What version of `vite` are you using?

^2.9.9

### System info and storybook versions

System:
    OS: Windows 10 10.0.22621
    CPU: (16) x64 12th Gen Intel(R) Core(TM) i5-12600K
  Binaries:
    Node: 16.15.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 3.2.1 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 8.12.2 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.22621.160.0), Chro

[2022-07-01 03:33] IanVS commented on #423
Thanks for the issue and reproduction.  Unfortunately, this project doesn't work terribly well with yarn pnp (see https://github.com/storybookjs/builder-vite/issues/141), and I think vite itself has some challenges with it as well.  I'm happy to review any PRs from anyone who's willing to dig in and find solutions, though.  As part of the upcoming storybook 7.0, there's a chance that this project

[2022-07-01 15:33] blowsie commented on #414
This is caused by a newer version of node.
I had to set a node options...

`--openssl-legacy-provider`

[2022-07-01 15:39] blowsie opened #424 "[Bug] argTypes not working in mdx"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

  System:
    OS: Windows 10 10.0.19044
    CPU: (12) x64 Intel(R) Core(TM) i7-10750
H CPU @ 2.60GHz
  Binaries:
    Node: 18.4.0 - ~\scoop\persist\nvm\nodej
s\nodejs\node.EXE
    npm: 8.12.1 - ~\scoop\persist\nvm\nodejs
\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.19041.1266.0), Chromiu
 6.5.9
    @sto

[2022-07-01 16:49] IanVS commented on #414
Thanks for reporting back!

[2022-07-01 16:52] spacedawwwg commented on #422
@IanVS

[code]

[2022-07-01 17:08] IanVS commented on #422
Thanks, I don't immediately see anything that looks wrong.  The next thing that would help us dig into this would be if you can put together a minimal reproduction that demonstrates the problem, or if your project is open source, a link to its repo.

[2022-07-01 17:52] spacedawwwg commented on #422
@IanVS I'll try throw one together this weekend.

After messing around, I've narrowed it down to importing `.md` files into MDX

This fails

[code]

This builds

[code]

[2022-07-02 08:33] JobiJoba commented on #423
I got the same issue but with PNPM

[2022-07-02 23:38] andrewdoro commented on #423
I am also having the same error with PNPM. Adding those two dependencies didn't fix my problem.

[2022-07-03 00:48] JobiJoba commented on #423
Personally I had to install all those one with PNPM:

[code]

[2022-07-03 17:59] #423 closed, assigned to nobody

[2022-07-04 03:25] jackysee commented on #422
I've come across this problem, change the file extension from `md` to `mdx` works.

[2022-07-04 13:23] hsheikhali1 commented on #398
Sorry to reopen this issue but I'm getting this error and I'm using react v17 in my pnpm monorepo.. I can't get mdx to work with storybook...

[2022-07-04 13:29] hsheikhali1 commented on #421
@fivaz this did not work for me..

[2022-07-04 13:30] hsheikhali1 commented on #421
FWIW I'm using pnpm but I can't possible see why that'd be an issue.

[2022-07-04 16:46] hsheikhali1 commented on #421
So I got the issues resolved where storybook wouldn't build/run in dev.. any story thats .tsx compiles just fine and shows up just fine.. but with any MDX story.. i keep getting that error. Nothing solves it for me.

[2022-07-04 17:16] IanVS commented on #421
@hsheikhali1 are you able to share a link to your repo, or create a reproduction that we can look into?

[2022-07-04 18:25] hsheikhali1 commented on #421
@IanVS here is the repo .. I'm using pnpm so just make sure you have that install - then run `pnpm i` in the project and run `pnpm run storybook` and watch it build but then fail to render the `mdx` content on the intro page.

https://github.com/hsheikhali1/issue-repro

[2022-07-05 12:56] rlesniak opened #425 "[Bug] Regression with resolve.alias as array"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

[code]
### Describe the Bug

I found regression in 0.1.37, perhaps in this [line](https://github.com/storybookjs/builder-vite/compare/v0.1.36...v0.1.37#diff-53261c79d121de43b9341f7d87ba28d33c2cdac416c10b0ccf5022f767937e91R70)

I have configured Vite to have `resolve.alias` as array, so ie.
[code]

And becaus

[2022-07-05 18:50] IanVS commented on #425
When you say `I have configured Vite`, do you mean in your `vite.config.js`?  Have you made the same changes in your `viteFinal` of `.storybook/main.js`?

[2022-07-05 19:07] IanVS commented on #422
@joshwooding it sounds like maybe markdown transclusion broke in the recent mdx update.  Any thoughts on why this might be happening?

[2022-07-05 21:05] blowsie commented on #422
I can confirm importing a `.md` file from a `.ts` file fails on `@storybook/builder-vite 0.1.38` but is working on `@storybook/builder-vite 0.1.36`

[2022-07-06 08:10] rlesniak commented on #425
Yes, I mean `vite.config.ts`
Yes, viteFinal is merged config

[code]

[2022-07-06 14:37] benmccann opened #426 "[Bug] missing `server.fs.allow` for `.storybook`"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions
[code]
### Describe the Bug

I get log messages like:

I need to add:
[code]

The plugin could add this automatically in https://github.com/storybookjs/builder-vite/blob/345b94274a0234cb1f4d970c18aa6f12aaa012af/packages/builder-vite/vite-config.ts#L37

### Link to Minimal Reproducible Example

https://github.

[2022-07-06 19:22] #422 closed

[2022-07-07 03:24] IanVS commented on #425
Thanks for pointing this out, and for doing the work to find the cause!

[2022-07-07 03:43] #426 closed

[2022-07-07 04:12] #425 closed

[2022-07-07 04:21] IanVS commented on #422
This has been fixed and released in 0.1.39.  Please let us know if you have any other trouble with mdx.

[2022-07-07 14:22] archangel-irk opened #431 "[Bug] MDX2 doesn't support tables (remark-gfm)"
### What version of `vite` are you using?

0.1.39

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.4
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
  Binaries:
    Node: 16.13.1 - ~/.nvm/versions/node/v16.13.1/bin/node
    npm: 8.1.2 - ~/.nvm/versions/node/v16.13.1/bin/npm
  Browsers:
    Chrome: 103.0.5060.114
    Firefox: 101.0.1
    Safari: 15.5

[2022-07-07 19:00] rlesniak commented on #425
Thank you very much 🙂

[2022-07-08 09:12] Topthinking opened #432 "vue tsx"
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

System:
    OS: macOS 12.0.1
    CPU: (8) arm64 Apple M1 Pro
  Binaries:
    Node: 16.15.0 - /usr/local/bin/node
    Yarn: 1.22.18 - /usr/local/bin/yarn
    npm: 8.5.5 - /usr/local/bin/npm
  Browsers:
    Chrome: 103.0.5060.114
    Safari: 15.1
  npmPackages:
    @storybook/addon-actions: ^6.5.6 => 6.5.9

[2022-07-08 12:38] IanVS commented on #432
Sorry, but can you provide some more details or a reproduction that we can take a look at?

[2022-07-08 13:13] blowsie commented on #422
When importing a markdown file, I get an mdx function instead of a markdown string, this breaks importing a simple md file for addon/notes

[code]

notes =
[code]

[2022-07-08 20:54] IanVS commented on #431
@shilman @joshwooding do either of you have ideas of how we can support mdx plugins?

[2022-07-08 20:58] joshwooding commented on #431
We would need the change in https://github.com/storybookjs/mdx2-csf/pull/12

[2022-07-08 23:32] fwouts opened #436 "[Docs] Clarify vite peer dependency requirements in README"
### What version of `vite` are you using?

2.9.14

### System info and storybook versions

System:
  OS: macOS 12.3.1
  CPU: (8) arm64 Apple M1
Binaries:
  Node: 16.15.0 - ~/.nvm/versions/node/v16.15.0/bin/node
  Yarn: 1.22.19 - ~/.yarn/bin/yarn
  npm: 8.9.0 - ~/.config/yarn/global/node_modules/.bin/npm
Browsers:
  Chrome: 103.0.5060.114
  Firefox: 101.0.1
  Safari: 15.4
npmPackages:
  @storybook/

[2022-07-08 23:41] fwouts commented on #436
I see from https://github.com/storybookjs/builder-vite/discussions/433 that this is expected.

It's perhaps worth pointing out that when you run `yarn add @storybook/vite-builder`, the `0.2.0-beta.1` version automatically gets picked over `0.1.0`, I suspect because they all have a major version of zero? Maybe this can be fixed by updating the README to specify a particular version for now :)

[2022-07-09 01:18] IanVS commented on #436
Doh, turns out I didn't publish it correctly, and `0.2.0-beta.1` is being treated as `latest`.  I'll try to figure out a way to resolve that...  Thanks for reporting it.

[2022-07-09 01:37] IanVS commented on #436
Ok, I've fixed the `latest` tag to point back to `0.1.39`.  And yeah, vite is a peer dependency, since it's expected that you should be using vite already for your app, and we want to just use whatever version you have (as long as we can support it).  I'll make an update to the readme to make it clear which versions of vite are supported by which versions of this package.  Apologies for the confus

[2022-07-09 01:38] IanVS commented on #436
I'll leave this open until I update the readme.

[2022-07-09 01:56] fwouts commented on #436
Thank you! And no worries at all.

FWIW I can think of a few cases where you'd want to use Vite for Storybook but not for your app:
- Next.js app (see the linked example)
- large, legacy Webpack-based app that requires careful testing before migrating to Vite (but Storybook is fine because it's internal facing)

[2022-07-09 02:04] IanVS commented on #436
Interesting.  I was under the (perhaps flawed) impression that next.js apps are so intricately tied to webpack that there's no good way to use vite with them.  And, I'm not sure I'd recommend mixing build tools between the app and storybook, since one of the goals of most storybooks is to represent the components of the app as accurately as possible.  If they're being built with two different tool

[2022-07-11 10:13] AskAlice commented on #436
I'm getting some interesting behavior here
[code]

[2022-07-11 12:47] IanVS commented on #436
@AskAlice I wasn't able to reproduce this in a new project without vite.  Do you have any hints on how I can reproduce this?

[2022-07-12 21:01] ArmandPhilippot commented on #421
I was ready to say that it didn't work for me either... but I tried a step again (`pnpm add -D @mdx-js/react@1`) that I must have done at the wrong time (or I forgot the version... probably) and it is now working. Since the message is already written, if it can help other people, I leave it here.

I had the same issue with mdx. (and with React 18, Vite and pnpm).

Before that, I had to install som

[2022-07-13 08:24] jklasd2001 opened #438 "[Bug] "eslint" is added of "dependencies of sveltedoc-parser""
### What version of `vite` are you using?

2.9.13

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.4
    CPU: (8) x64 Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.15.1/bin/npm
  Browsers:
    Chrome: 103.0.5060

[2022-07-13 09:27] ahnpnl commented on #418
I ran into the same error. Adding the `.babelrc` would solve the problem but it looks kinda ugly. I wish Storybook can move away from Babel somehow.

[2022-07-13 10:30] philjones88 opened #439 "[Bug] 504's and "error loading dynamically imported module""
### What version of `vite` are you using?

2.9.14

### System info and storybook versions

[code]

Storybook Addons:

[code]

### Describe the Bug

We use Storybook + Chromatic.

We have swapped from Webpack 5 builer to Vite as we swapped from CRA to Vite for the app itself.

Chromatic seems to work most of the time but locally we just hit:

In the browser console we see this:

[code]

and Storybo

[2022-07-13 12:05] IanVS commented on #418
Esbuild-register will be used to read configuration files in 7.0, which will greatly improve this situation.  Hopefully we will be able to start testing it out with vite builder soon, it's not quite supported just yet.

[2022-07-13 12:09] #438 closed

[2022-07-13 12:22] philjones88 commented on #439
@IanVS thanks for the reply. We used to use webpack 5 for storybook. searching our `yarn.lock` file I can:

`"@storybook/builder-webpack4@6.5.9"`
`"webpack@4":`
`"webpack@>=4.43.0 <6.0.0":`

we have no hard `webpack` entry in our `package.json` file.

No. We don't have a `manager.js` file.

[2022-07-13 12:24] joshwooding commented on #418
It's worth adding here, that another way of working around this issue is to use module.exports in your main file. That's the way I personally have TS working.

[2022-07-13 12:27] IanVS commented on #439
Maybe you can tey removing imports from your privew.jsx file one at a time and find which one is causing the error?

[2022-07-13 12:29] IanVS commented on #439
Oh, also did you remove your node_modules and install fresh?  Or at least remove the node_modules/.cache

[2022-07-13 12:39] philjones88 commented on #439
It does seem to be intermitent, almost like it's a caching issue, when it has been happening, removing `node_modules` doesn't seem to fix it. there might be a cache elsewhere?

[2022-07-14 08:32] ahnpnl opened #441 "[Bug] Cannot start storybook with newly generated project"
### What version of `vite` are you using?

**3.0.0**

### System info and storybook versions

[code]

### Describe the Bug

- Follow the guide https://github.com/storybookjs/builder-vite#getting-started-with-vite-and-storybook-on-a-new-project (I chose template `vue-ts` for Vite)
- Starting Storybook I ran into this exception
[code]

### Link to Minimal Reproducible Example

https://github.com/ahn

[2022-07-14 09:09] philjones88 commented on #439
Hmm. Hit it today after upgrading to Vite 3.0.0 and the 0.2.0 of this lib.So node_modules would have changed I guess as I updated packages.

Cancelled Storybook, added `--no-manager-cache` so `yarn storybook --no-manager-cache` and it then works.

Seems to solve it...

[2022-07-14 10:01] joshwooding commented on #389
Hi @youngboy. This should be fixed in [v0.1.38](https://github.com/storybookjs/builder-vite/releases/tag/v0.1.38)+

Closing this for now but if you still see this please let me know.

[2022-07-14 10:01] #389 closed

[2022-07-14 10:04] joshwooding commented on #369
Closing due to staleness. Will re-open if we get a reproduction. Thanks for the report.

[2022-07-14 10:04] #369 closed

[2022-07-14 12:18] IanVS commented on #441
Thanks, Vite 3 is adding `"type": "module"` to the package.json of projects it creates now.  So to use commonjs, it is necessary to use the .cjs extension.  We'll need to update the storybook generator to do that automatically, but for now you can rename the file as the error suggests.  Thanks for reporting.

[2022-07-14 13:26] pussyslain opened #442 "Compiled storybook shows nested iframes"
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

Environment Info:

  System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
  Binaries:
    Node: 14.19.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.0 - ~\scoop\apps\yarn\current\Yarn\bin\yarn.CMD
    npm: 6.11.3 - C:\Program Files\nodejs\npm.CMD
  Browsers:

[2022-07-14 14:24] IanVS commented on #442
Thanks for the reproduction.  I cloned, installed, built storybook, and launched it using `npx http-server ./storybook-static`, and did not see any problems:

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/4616705/179005525-fa9de88f-de2c-4ecd-8712-e5ba1ae1b1f9.png">

What are you using to preview the built storybook?

[2022-07-14 14:36] pussyslain commented on #442
@IanVS  I see. I am using `serve -s storybook-static` for preview. Probably need additional configuration to make it work.

`http-server` works for me as well. Thank you

[2022-07-14 14:37] IanVS commented on #442
:+1:

[2022-07-14 14:37] #442 closed

[2022-07-14 15:13] timonmasberg commented on #436
I am receiving the same error as @AskAlice trying to start Storybook after a clean installation in Svelte with Vite

[2022-07-14 15:16] IanVS commented on #436
I've updated the README to mention the versions of vite required. @timonmasberg would you mind opening a new issue with the details of what you're seeing?  Thanks!

[2022-07-14 15:16] #436 closed

[2022-07-14 15:23] timonmasberg commented on #436
After upgrading Vite to v3 it works, thanks for clarifying.

[2022-07-15 03:05] swallowtail62 commented on #206
The following will work.

[code]

[2022-07-15 14:34] rohanrajpal commented on #423
facing the

Faced the same issue with Pnpm, adding these dependencies manually helped!

[2022-07-15 19:13] SamuelPoulin opened #446 "[Bug] Adding builder-vite to main config file launches actual app instead of playground"
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

System:
  OS: Linux 5.10 Ubuntu 20.04.4 LTS (Focal Fossa)
  CPU: (16) x64 Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz
Binaries:
  Node: 16.15.1 - /usr/bin/node
  Yarn: 1.22.18 - /usr/bin/yarn
  npm: 8.11.0 - /usr/bin/npm

### Describe the Bug

Hello, I have created a minimal repo here to reproduce the bug. Here

[2022-07-16 10:23] Mishieck commented on #140
Thanks @wlto. Worked like a charm.

[2022-07-16 17:43] TPOborne commented on #446
Can confirm I'm also seeing this issue. Running `yarn storybook --no-manager-cache` seems to fix it temporarily. If I run `yarn storybook` the first time after the `--no-manage-cache` run then it works. Any subsequent run of `yarn storybook` however comes across this issue again.

[2022-07-16 19:25] schalkneethling opened #447 "[Bug] Netlify deploy fails with Could not resolve dependency: peer vite@">=3.0.0-alpha || >= 3.0.0" from @storybook/builder-vite@0.2.0"
### What version of `vite` are you using?

vite@2.9.14

### System info and storybook versions

This is from my local machine and does not match Netlify where the build is failing (running `npm run build` locally works fine):

Environment Info:

  System:
    OS: macOS 12.4
    CPU: (8) arm64 Apple M1
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 1.22.17 - ~/.yar

[2022-07-16 23:47] IanVS commented on #447
Hi, it looks like you have 0.1.39 of the vite builder installed locally, but 0.2.0 in your package.json, so the newer version that is only compatible with vite 3 is being installed in CI.  You should be sure to pin the version to 0.1.x until you upgrade to vite 3.

[2022-07-17 08:36] ldegen commented on #446
Hi, I think I am experiencing the same problem here. Initially, I thought this might be related to me using yarn (canary, I think), but the same thing happens with plain old npm.

[2022-07-17 09:36] schalkneethling commented on #447
Hmmm, I guess dependabot updated the dependency, and because it was not a major version bump(although for 0.x bumping to 0.2.x might actually be) it was auto merged. I will update my local dependencies and see if `build` fails locally as well. Thank you for the feedback, @IanVS

[2022-07-17 13:17] schalkneethling commented on #447
@IanVS, when trying to install locally, I get:

[code]

[2022-07-17 13:24] IanVS commented on #447
0.2.0 requires vite 3.

[2022-07-17 16:22] schalkneethling commented on #447
I will pin this to the earlier version until I can figure out what is preventing `vite` and `@vitejs/plugin-vue` from upgrading. Thanks.

[2022-07-17 16:22] #447 closed

[2022-07-18 05:10] timesp commented on #409
I have meet the same issue

[2022-07-18 12:22] amcdnl opened #448 "[Bug] default is not exported issue"
### What version of `vite` are you using?

3.0.1

### System info and storybook versions

[code]

### Describe the Bug

When I do `build-storybook` I get the following error:

[code]

however in my app start/build and storybook start it works fine.

My `main.js` config looks like:

[code]

it seems related to something storybook is doing internally but I can't seem to put my finger on it.

### Lin

[2022-07-19 01:25] EdimarioJr commented on #446
Can confirm, I'm also seeing this issue.

[2022-07-19 05:18] juztinlazaro opened #450 "[Bug] Problems with vue-class-component"
### What version of `vite` are you using?

  "vite": "^2.9.14",

### System info and storybook versions

System:
  Windows 10

Browser:
 Chrome

Node  v16.15.0

"@storybook/addon-actions": "^6.5.9",
    "@storybook/addon-essentials": "^6.5.9",
    "@storybook/addon-interactions": "^6.5.9",
    "@storybook/addon-links": "^6.5.9",
    "@storybook/addon-postcss": "^2.0.0",
    "@storybook/builder-vit

[2022-07-19 15:38] adiospl commented on #448
I had similar problems and after investigation I found that there's something wrong with **mock-core-js** rollup plugin. When I removed it the problem with 'default' imports has disappered.

[code]

[2022-07-19 22:17] nixnao opened #451 "[Bug] Newly initialized Preact repo - failing with pragma and pragmaFrag cannot be set when runtime is automatic."
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

Environment Info:

  System:
    OS: Windows 10 10.0.19044
    CPU: (4) x64 Intel(R) Xeon(R) Platinum 8272CL CPU @ 2.60GHz
  Binaries:
    Node: 14.19.0 - C:\Program Files\nodejs\node.EXE
    npm: 6.14.16 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.19041.1266.0), Chromium (103.0.1264.6

[2022-07-20 09:32] giusepetroso opened #452 "[Bug]"
### What version of `vite` are you using?

^2.9.9

### System info and storybook versions

  System:
    OS: Windows 10 10.0.22000
    CPU: (16) x64 Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.11 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.

[2022-07-20 12:05] amcdnl commented on #448
@adiospl - That worked! Though I get out of memory errors now - but this seems like a Vite error not a SB error: https://github.com/vitejs/vite/issues/2433

[code]

[2022-07-20 22:50] IanVS commented on #452
Hi, Vite 3 requires node 16 and above.  See https://github.com/vitejs/vite/issues/9113 for more details.

[2022-07-20 22:50] #452 closed

[2022-07-20 22:51] IanVS commented on #452
Oh, and if you're not using vite 3, please pin @storybook/builder-vite to `0.1.x` instead, since `0.2.x` requires vite 3.

[2022-07-21 02:05] IanVS commented on #446
Thanks for providing a reproduction, @SamuelPoulin, that was super helpful since I don't experience this in my own app or in the examples in this repo (I don't know why).  I've found the reason this is happening, and we should have a new version with a fix out soon.

[2022-07-21 02:21] IanVS commented on #451
@joshwooding we may need to rethink always adding the vite react plugin for MDX support, as seen here, it conflicts with preact.

[2022-07-21 12:56] IanVS commented on #450
Hi, can you please provide some more details and a reproduction?  I'm not familiar with vue-class-component.  Is that component working fine in your vue app, but not in storybook?  Does it work when using the default webpack builder for storybook (i.e. removing the `core.builder` setting in `main.js`?

[2022-07-21 13:00] juztinlazaro commented on #450
@IanVS yes, its working with my application but not in storybook, give me time will try to create a repo. or codesandbox thank you

[2022-07-21 13:01] IanVS commented on #450
Thank you!

[2022-07-21 15:02] pmelab opened #454 "[Bug] cached startup of storybook shows vite entrypoint"
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

  System:
    OS: macOS 12.2.1
    CPU: (8) arm64 Apple M1
  Binaries:
    Node: 16.16.0 - ~/.volta/tools/image/node/16.16.0/bin/node
    Yarn: 1.22.18 - ~/.volta/tools/image/yarn/1.22.18/bin/yarn
    npm: 8.11.0 - ~/.volta/tools/image/node/16.16.0/bin/npm
  Browsers:
    Chrome: 103.0.5060.114
    Edge: 103.

[2022-07-21 15:37] IanVS commented on #454
Hi, this is the same issue as https://github.com/storybookjs/builder-vite/issues/446, and will be fixed as soon as I can release a new version.  Thanks for the report.

[2022-07-21 15:37] #454 closed

[2022-07-21 22:41] unicornware commented on #412
[this][1] issue may be of some help to you!

[1]: https://github.com/storybookjs/builder-vite/issues/448

[2022-07-22 00:10] unicornware commented on #424
i'm using a different version of vite, but i had a similar issue in that none of my documentation changes were reflected, regardless of story file type. in my case, the issue was actually with [`@joshwooding/vite-plugin-react-docgen-typescript`][1].

when the plugin's [`transform`][2] function is called, `parseWithProgramProvider` (from [`react-docgen-typescript`][3]) is used to generate a [`Compo

[2022-07-22 04:50] IanVS commented on #424
@joshwooding this sleuthing might interest you ^.

[2022-07-22 05:26] boeto opened #455 "[Bug] Not works with pnpm"
### What version of `vite` are you using?

^3.0.2

### System info and storybook versions

System:
    OS: macOS 12.4
    CPU: (12) x64 Intel(R) Core(TM) i7-8700B CPU @ 3.20GHz
  Binaries:
    Node: 16.15.0 - ~/.nvm/versions/node/v16.15.0/bin/node
    Yarn: 1.22.19 - ~/.nvm/versions/node/v16.15.0/bin/yarn
    npm: 8.15.0 - ~/.nvm/versions/node/v16.15.0/bin/npm
  Browsers:
    Chrome: 103.0.5060.13

[2022-07-22 09:30] joshwooding commented on #424
Yeah what was discovered here is already a known issue. The ts program is created based on the current filesystem. The above approach works around that by creating a ts program every parse which is quite expensive.

[2022-07-22 13:54] scott-lc opened #456 "[Bug] React/Docgen TypeScript detection insufficient in NPM monorepo."
### What version of `vite` are you using?

vite@3.0.2

### System info and storybook versions

  System:
    OS: macOS 11.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 18.3.0 - ~/.nvm/versions/node/v18.3.0/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.14.0 - ~/.nvm/versions/node/v18.3.0/bin/npm
  Browsers:
    Chrome: 95.0.4638.69
    Firefox: 102

[2022-07-22 14:10] IanVS commented on #456
Thanks.  We knew that our detection mechanism isn't perfect, but it it is designed to fail in such a way that at least does not break, but rather falls back to something that works for both typescript and non-typescript projects.  We're open to ideas (and especially PRs) for improvements.

In the meantime, it's possible to force the typescript docgen to be used by adding this to your `.storybook/m

[2022-07-22 15:40] scott-lc commented on #456
[code]

won't in my case because of the `typescriptPresent` presence check:

[code]

which is fine.  I can work around it.  A far as checking whether TypeScript is in-use, perhaps it is better to just do something like `require.resolve('typescript')` and let the standard Node resolver do its thing:

[code]

[2022-07-22 15:45] IanVS commented on #456
We did use a check similar to that at one point, but it ended up being a problem because typescript can be brought in without actually being used.  https://github.com/storybookjs/builder-vite/pull/313.

I'll try giving this some thought though and see if we can clean it up one way or another.

[2022-07-22 19:27] IanVS commented on #450
It looks like vue-class-component is for vue 2 (https://github.com/vuejs/vue-class-component/blob/16433462b40aefecc030919623f17b0ec9afe61c/package.json#L47).  But the vite-builder only supports vue 3.  There's a fork that supports vue 2: https://github.com/djaler/storybook-builder-vite-vue2.

[2022-07-22 19:27] #450 closed

[2022-07-24 14:56] Drew11 opened #458 "[Bug] Can't see any stories files"
### What version of `vite` are you using?

"vite": "^3.0.0"

### System info and storybook versions

"devDependencies": {
    "@babel/core": "^7.18.9",
    "@joshwooding/vite-plugin-react-docgen-typescript": "^0.0.5",
    "@rollup/plugin-alias": "^3.1.9",
    "@storybook/addon-actions": "^6.5.9",
    "@storybook/addon-backgrounds": "^6.5.9",
    "@storybook/addon-docs": "^6.5.9",
    "@storybook/a

[2022-07-24 17:02] Drew11 commented on #458
[IanVS](https://github.com/IanVS) here : https://github.com/Drew11/full-stack-react-nest

[2022-07-24 18:10] IanVS commented on #458
I cloned your repo and got a different error about `@mdx-js/react` not being found.  I think this is because of the way pnpm is resolving dependencies.  Manually installing it with `pnpm i @mdx-js/react@1` solved the issue.  Try that out, and if you still have trouble, try deleting your `node_modules/.cache` and `node_modules/.vite-storybook` caches, and then run storybook again.

[2022-07-24 18:31] unicornware commented on #424
@joshwooding do you have any links to issues or docs regarding this issue? i was searching for known issues surrounding this matter while i was debugging, but couldn't find any.

[2022-07-24 19:18] Drew11 commented on #458
Thx , you try run storybook in my projeсt, he sees stories files when run on localhost:6006?

i not have errors , but still storybook not see any files with .stories.
also i try you variants delete cache, and remove node_modules and install again another package-manager like yarn
still not have result :(

when install storybook he automatically generate examples
<img width="192" alt="image" src="h

[2022-07-24 19:57] AlexMachin1997 commented on #441
Hey @IanVS

You don't happen to know if that fix has been released or when it's going to be released ?

Thanks,
Alex

[2022-07-24 20:11] IanVS commented on #441
I'm not sure.  @shilman do you have any kind of timeline for releasing 6.5.10?

[2022-07-25 00:27] IanVS commented on #458
Yep, once I installed that mdx dependency, I ran `pnpm run storybook` and I saw a button story and a switch story, in addition to the standard ones added by storybook init.

[2022-07-25 00:28] IanVS commented on #458
I see in your example you are opening the page by the internal ip address. Is there any difference I'd you use localhost instead?

[2022-07-25 03:33] patoncrispy commented on #441
Even renaming the file to `.cjs` doesn't seem to work for me. If I rename `main.js` to `main.cjs` it gets passed this issue but I then get `Error: Cannot find module '@rollup/pluginutils'`.

[2022-07-25 04:46] IanVS commented on #441
@patoncrispy thanks I'll fix that soon too.  In the meantime, you can install it manually if you'd like.

[2022-07-25 04:47] IanVS commented on #441
Or, if you'd like to submit a PR that adds it as a dependency to this project, feel free.  Otherwise, I'll try to take care of it tomorrow or the next day.

[2022-07-25 07:14] Drew11 commented on #458
[IanVS](https://github.com/IanVS) thank you , finally it's works
 i cloned from my repo install, and got mdx error , add mdx and now work

 why i  not got it MDX error in local don't know, this strange

 maybe my project is in a folder name with square brackets and this not good for install package  like D:/work/[drew]/[projects]/my-project

[2022-07-25 07:33] coolcorexix commented on #85
My config is somehow neater than what's mentioned but still works: https://stackoverflow.com/a/73105465/9814737

[code]

[2022-07-25 12:58] IanVS commented on #458
I'm not sure why it wasn't working, but glad you're in good shape now.

[2022-07-25 12:58] #458 closed

[2022-07-25 14:02] mattmcardle commented on #448
Thanks @adiospl that fixed it for me too!

I've added a minimal reproduction here: https://github.com/mattmcardle/storybook-core-js-pure-bug

This is created from the vite react-ts template, and then running `storbook init`. I have added a minimal component and story called "Form" which uses the RJSF library that triggers this issue during `build-storybook`.

I had to roll vite and the builder bac

[2022-07-25 16:54] #456 closed

[2022-07-25 16:55] #143 closed

[2022-07-25 16:55] #412 closed

[2022-07-25 16:55] #448 closed

[2022-07-25 17:06] IanVS commented on #441
Closed by https://github.com/storybookjs/storybook/pull/18714 and https://github.com/storybookjs/builder-vite/pull/459, just waiting for releases.

[2022-07-25 17:06] #441 closed

[2022-07-25 17:40] IanVS commented on #446
Thanks everyone.  A fix for this has been released in `@storybook/builder-vite` [0.2.1](https://github.com/storybookjs/builder-vite/discussions/462).

[2022-07-25 17:42] IanVS commented on #456
We've released a change to our detection logic in 0.2.1.  If you're willing to try it out, @scott-lc, I'd love to hear if it now works for you.

[2022-07-25 17:43] IanVS commented on #448
Thanks everyone.  A fix for this has been released in `@storybook/builder-vite` [0.2.1](https://github.com/storybookjs/builder-vite/discussions/462).  You can remove the workaround from your vite config once you upgrade.  And please let us know if you hit any problems.

@mattmcardle the other issue you hit has been fixed as well, so you should be able to upgrade vite now.

[2022-07-25 17:43] IanVS commented on #412
Thanks everyone. A fix for this has been released in @storybook/builder-vite https://github.com/storybookjs/builder-vite/discussions/462. You can remove the workaround from your vite config once you upgrade. And please let us know if you hit any problems.

[2022-07-25 17:44] IanVS commented on #143
Thanks everyone.  A fix for this has been released in `@storybook/builder-vite` [0.2.1](https://github.com/storybookjs/builder-vite/discussions/462).  You can remove the workaround from your vite config once you upgrade.  And please let us know if you hit any problems.

[2022-07-25 18:15] scott-lc commented on #456
@IanVS

Both manually specifying `react-docgen` as well as defaulting to `react-docgen-typescript` works for me.  Thanks.

+1

[2022-07-25 21:08] AlonMiz commented on #143
Thanks @IanVS will try that soon

[2022-07-25 21:51] nagisaando commented on #439
I'm having the exact same issue. Usually happens when I run it for the first time after a while. And when I run storybook again, it works as it should. Tried

But still the error happens.

[2022-07-25 22:17] IanVS commented on #439
This seems to occasionally happen when vite hasn't pre-bundled its dependencies.  It was better for a while when using 2.9, but it seems to be an issue again in 3.0.  @nagisaando @philjones88 when you see this happen, do you also see messages in the terminal about vite finding and optimizing dependencies?  If so, you can try adding those to `optimizeDeps.include` in your config in `viteFinal`.  Fo

[2022-07-26 03:48] alextompkins commented on #282
Just wanted to bump this thread to note that I'm experiencing this issue too. I can run `build-storybook` fine on my local machine, but when I push it up GitHub actions isn't able to cope:

[code]

I'm using:
- vite: 3.0.2
- @storybook/builder-vite: 0.2.0
- @vitejs/plugin-react: 2.0.0

[2022-07-26 05:03] IanVS commented on #282
@alextompkins are you able to give node a bit extra memory?  Github runners have 7gb or so available, it's normally safe to increase the `--max-old-space-size`.

[2022-07-26 05:57] alextompkins commented on #282
@IanVS yup that did the trick. Still seems odd that vite would need >1.4GB but 🤷

[2022-07-26 08:47] philjones88 commented on #439
It has just happened again to me, the full log of running it:

[code]

That `optimized dependencies changed, reloading` is the last line it ever prints

[2022-07-26 09:12] shakhzodkudratov commented on #86
guys check this discussion for a workaround https://github.com/storybookjs/builder-vite/issues/367#issuecomment-1116892668

[2022-07-26 12:33] IanVS commented on #439
@philjones88 try adding those deps to your optimizeDeps.include. That should help avoid this error.

[2022-07-26 12:35] IanVS commented on #282
Yeah, I've spent some time trying to understand what's going on and why it is using so much, without any luck so far.

[2022-07-26 13:23] IanVS commented on #455
Hi, thanks for the reproduction.  This is a duplicate of an existing issue, https://github.com/storybookjs/builder-vite/issues/55, so you can take a look there for some hints of how to deal with it for now, until a better solution is found.

[2022-07-26 13:23] #455 closed

[2022-07-26 17:01] orizens opened #463 "[Bug] compiling to publish results in an error - still using webpack"
### What version of `vite` are you using?

3.0.2

### System info and storybook versions

 System:
    OS: macOS 12.4
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 103.0.5060.134
    Safari: 15.5
  npmPackages:
    @storybook/addon-actions: 6.5.9 => 6.5.9
    @s

[2022-07-26 17:09] IanVS commented on #463
Can you share the output of `npm ls webpack`?  When storybook uses the vite builder, it also uses webpack 4 to build the manager part of the UI (sidebar, addon panel, etc).  Perhaps you have a version of webpack in your project that's conflicting with it?

You can also try running storybook with `--no-manager-cache` once just to be sure there's no old cached code hanging around.

[2022-07-26 18:11] SamuelPoulin commented on #446
I bumped the version of builder-vite in https://github.com/SamuelPoulin/vite-react-typescript-storybook-minimal and unfortunately I'm still getting this problem when uncommenting the builder...

[2022-07-26 18:23] orizens commented on #463
@IanVS you're correct (i forgot to metion) - my app is based on `create-react-app` with `webpack-5`.
any suggestion ?

[2022-07-26 18:26] IanVS commented on #446
Thanks, I screwed up the config it seems.  For now, you can work around this by using `config.appType = 'custom'` in `viteFinal`.

[2022-07-26 18:28] IanVS commented on #463
If you're using CRA and webpack, you should continue to use the webpack builder for storybook.  If you're migrating your app from CRA to vite, then you'll need to remove webpack and any webpack loaders from your dependencies in package.json.  There is a guide in the readme: https://github.com/storybookjs/builder-vite#migration-from-webpack--cra

[2022-07-26 20:25] #446 closed

[2022-07-27 07:14] gabstafari commented on #439
I also encounter this issue every time the terminal says "new dependencies optimized"
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/7789412/181184882-dd6282fa-8dbf-4f6e-a549-26e30aa5d305.png">

[2022-07-27 07:24] orizens commented on #463
@IanVS thanks for the advice.
To be clear, i'm able to run storybook with vite locally and view  at localhost.
i received too many errors when i tried to setup storybook with weback.

[2022-07-27 08:30] bodograumann commented on #421
I also had to
[code]

To be able to get my storybook to work in version 6.5.

`@mdx-js/react` was correctly installed as a transitive dependency of `@storybook/addon-docs` and `@storybook/builder-vite` (via `@storybook/mdx1-csf` for the latte), but could not be found during run time.

The solution does not feel satisfactory.

[2022-07-27 09:01] bodograumann commented on #421
I think I found the problem and solution, at least for what @francoisromain describes in the original post.
Like him, I had `@storybook/addon-essentials` and `@storybook/addon-docs` installed.
These days the latter is not required anymore however, because it is already included in essentials.
Even when both are installed and configured in the `main.js`, storybook only imports the docs addon throug

[2022-07-27 11:24] bodograumann commented on #421
Damn. During production build the error persists:

So for now I will go back to explicitely installing `@mdx-js/react`...

[2022-07-28 16:22] DarioRega commented on #396
For anyone having trouble with global decorators:

I had trouble adding global decorators in my preview.js file like I used to do in CRA or nextjs. Doing it with vite i had the following error:
`[vite] Internal server error: Failed to parse source for import analysis because the content contains invalid JS syntax. If you are using JSX, make sure to name the file with the .jsx or .tsx extension.`

[2022-07-28 17:02] DarioRega opened #466 "[Bug] Can't build storybook, TypeError: The 'compilation' argument must be an instance of Compilation"
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

  System:
    OS: macOS 12.4
    CPU: (10) arm64 Apple M1 Pro
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 103.0.5060.134
    Safari: 15.5
  npmPackages:
    @st

[2022-07-28 17:29] IanVS commented on #466
This looks like the same issue as https://github.com/storybookjs/builder-vite/issues/463.  Do you have webpack 5 installed in your proejct?

[2022-07-28 17:38] IanVS commented on #396
Yes, any file with JSX syntax needs to be named either `.tsx` or `.jsx` for vite.  @adamSneller I see now that your story is named `stories/Button.stories.js`, it should be `stories/Button.stories.jsx` instead.

I'm going to close this for now, but let me know if anyone thinks there's still an issue here.

[2022-07-28 17:38] #396 closed

[2022-07-28 18:36] DarioRega commented on #466
Hey, Thanks for your quick reply, really appreciated

When i run the _npm ls webpack_ i have as well a lot of webpack 5 references in the nodes modules, however in my project there is no webpack or any references to it installed.

I've started with the vit init and then added the storybook builder vite with the npx command

I can add the npm ls webpack output if you want, or is there anywhere else

[2022-07-28 18:44] IanVS commented on #466
It looks like you still have `babel-loader` in your `package.json`, that could be pulling in webpack perhaps.  You could try `npm why webpack` to find out why webpack5 is being included.

[2022-07-28 19:02] DarioRega commented on #466
Added the output of:

npm ls webpack:
[code]
[why.log](https://github.com/storybookjs/builder-vite/files/9213464/why.log)

Added as well the npm why webpack as log ifle

I even removed all babel mention in my package.json, i still have that error. I apologize in advance but i may be a bit lost there, i might understand that this might be webpack causing it, but many storybook addons are actually u

[2022-07-29 03:48] bill-z commented on #466
fwiw, I've spent the last day looking at this same error when building a production Storybook for my React/Typescript component library.  (In my case I also have cypress installed which needs a webpack dev server.)

[2022-07-29 09:27] swallowtail62 opened #467 "[Bug] process is not defined"
### What version of `vite` are you using?

3.0.3

### System info and storybook versions

[code]

### Describe the Bug

![image](https://user-images.githubusercontent.com/45661101/181727749-38e18403-2885-443b-8633-339eb67746f4.png)

![image](https://user-images.githubusercontent.com/45661101/181729245-4ab8f40e-6826-460f-9c76-624e28c0cc95.png)

When building a storybook in an application using Next

[2022-07-29 09:48] nkCreation commented on #409
Hello! I have the same problem since I updated to the latest version storybook/builder-vite (0.2.2). Everything works well before this update. If I revert this, it works perfectly.

Is this related ?

[2022-07-29 12:38] IanVS commented on #463
Let's consolidate this discussion into https://github.com/storybookjs/builder-vite/issues/466.

[2022-07-29 12:38] #463 closed

[2022-07-29 12:39] IanVS commented on #466
@bill-z @DarioRega have either of you tried installing webpack@4 directly in your project?

[2022-07-29 12:41] IanVS commented on #467
This is expected, vite does not polyfill `process`.  To use environment variables in vite, you need to use `import.meta.env`.  See https://vitejs.dev/guide/env-and-mode.html#env-variables.

[2022-07-29 12:41] #467 closed

[2022-07-29 12:42] IanVS commented on #409
@nkCreation what version were you using before?  Did you upgrade vite at the same time?

[2022-07-29 12:44] IanVS commented on #409
Note, you can use `--max-old-space-size` to give node more than the 1.5gb that it gets by default.  See https://github.com/storybookjs/builder-vite/issues/282#issuecomment-1072455178 for a way to do this in github actions.

[2022-07-29 13:29] jgunzelman88 opened #468 "[Bug] Typescript compilation errors"
### What version of `vite` are you using?

3.0.4

### System info and storybook versions

  System:
    OS: macOS 12.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 16.15.0 - /usr/local/bin/node
    npm: 8.5.5 - /usr/local/bin/npm
  Browsers:
    Chrome: 103.0.5060.134
    Firefox: 102.0
    Safari: 15.5
  npmPackages:
    @storybook/addon-actions: ^6.5.9 => 6.5.

[2022-07-29 14:04] bill-z commented on #466
Updating the storybook config to use webpack5 appears to resolve the issue for my project.  (per [docs](https://storybook.js.org/docs/react/builders/webpack#webpack-5))

[2022-07-29 14:10] IanVS commented on #466
That's fine, but keep in mind you'll no longer be using the vite builder if you do that.  If the rest of your app is being bundled with Vite, I recommend trying to stick with the vite builder for storybook, to avoid any potential differences between your stories and your app.

[2022-07-29 14:13] bryanjtc commented on #418
I found a solution that worked for me in another issue. https://github.com/storybookjs/storybook/issues/9854#issuecomment-1198909094
If this solution for works for everyone here, then the issue should be closed

[2022-07-29 14:23] blowsie commented on #439
Me too!
The issue occurred for the first time for me when upgrading from `0.1.39` to `0.2.2`

[2022-07-29 14:42] IanVS commented on #439
Did you also upgrade Vite?  Vite has been changing the way that prebundling works through the last few versions, and it seems like maybe one of those changes is causing some problems for storybook.

@gabstafari @blowsie have you tried adding those dependencies to your `optimizeDeps.include`?

[2022-07-29 16:07] gabstafari commented on #439
Hi @IanVS it seems fine now.

I just made sure that I got all the packages I need so here is the list of packages I have to include.

[code]

I am still making more test and will let you know if I encountered any more issues.

Thanks for your hard work on this great storybook builder. :)

[2022-07-30 10:07] AlexMachin1997 commented on #441
Has this fix been released ? I've updated the storybook package but I'm still running into the same issue as before

[2022-07-30 10:18] giusepetroso commented on #452
Thank you, it was the node version, I was using v14.16.0 (as in the system info).

[2022-07-30 13:23] IanVS commented on #441
The fix is for new projects.  You can fix the issue in existing projects by changing the extension of main.js to main.cjs.

[2022-07-30 14:35] gabstafari commented on #439
Just to give an update on my issue, I ended up reverting back to storybook 6.4.22 and vite-builder to 0.1.33
The issues are gone.

[2022-07-30 14:45] IanVS commented on #439
@gabstafari you were seeing this problem after adding to optimizeDeps.include?

[2022-07-30 15:08] gabstafari commented on #439
Hi @IanVS happy weekend!

No. I got error even before adding to optimizeDeps.include.
I'm not sure why. Maybe because I made a wrong configuration.

[2022-07-30 19:24] AlexMachin1997 commented on #441
Hmm strange, I just generated a new project and I'm still getting the error (See screenshot below)

![image](https://user-images.githubusercontent.com/29917195/181953578-c577c174-aa3f-4722-adba-282f8da23626.png)

Even when I update the main.js to main.cjs I get the error (See sreenshot below)

![image](https://user-images.githubusercontent.com/29917195/181954815-c22557bb-1e07-45ab-94a6-e9a47ba8cc5

[2022-07-30 22:48] IanVS commented on #441
I think you're using an unsupported version of node. Are you able to use the latest 16 or 18 version?

[2022-07-31 09:01] AlexMachin1997 commented on #441
Bit of a weird issue this.

So I had node v17.4.0 so I installed the latest version of node which is 18.8.0 currently, however, the issue was still present.

So I downgraded to the LTS version which is currently 16.16.0 and weirdly fixed this issue I can successfully load storybook.

Wonder why it didn't work with the latest version, it's a little concerning as Storybook could break in a future ve

[2022-07-31 13:01] IanVS commented on #441
Thanks for reporting back. It's being addressed in the upcoming 7.0 version of storybook.  The error is coming from webpack 4, which storybook will no longer use.

[2022-08-01 00:41] jgunzelman88 commented on #468
I'm sorry I am honestly just frustrated in general,  I am blocked like every where i have a new project on bun js that is waiting on issues for then to solve but they are still new.  Anywho Only when running storybook.  Sb loads and when I click on my component I get an unexpected token error.

My project is public https://github.com/poketrax/tcg-case I have the preprocessor defined in my svelte c

[2022-08-01 02:19] IanVS commented on #468
I get it, config problems can definitely be frustrating.

I think I found your problem in your repo.  You're using:

[code]

But, since `import()` returns a promise, and it's not being awaited, `svelteOptions.preprocess` is not being set.  One alternative, which, admittedly isn't super-DRY is to require and call `svelte-preprocess` directly:

[code]

After making that change, I got a different err

[2022-08-01 12:18] jgunzelman88 commented on #468
Thanks for the help I managed to get it working I read thought your documentation rather than the story book main documentation and found what I needed.  Storybook proper needs to find a way to coolcated all this.

For any future viewers: here is my main.cjs
`const { mergeConfig } = require('vite');
const preprocess = require('svelte-preprocess');

`const { mergeConfig } = require('vite');
const p

[2022-08-01 12:18] #468 closed

[2022-08-01 17:19] Patrick-Ullrich opened #471 "[Bug] React + SB builds, but all stories are empty and throws 404"
### What version of `vite` are you using?

3.0.4

### System info and storybook versions

  System:
    OS: macOS 12.4
    CPU: (10) arm64 Apple M1 Pro
  Binaries:
    Node: 16.14.0 - ~/.nvm/versions/node/v16.14.0/bin/node
    Yarn: 1.22.18 - ~/.nvm/versions/node/v16.14.0/bin/yarn
    npm: 8.14.0 - ~/.nvm/versions/node/v16.14.0/bin/npm
  Browsers:
    Chrome: 103.0.5060.134
    Firefox: 102.0.1

[2022-08-01 17:27] IanVS commented on #471
Can you try using `npx http-server ./storybook-static` instead of live server, to see if that plays a role?

And by the way, you shouldn't need to remove `type: module` from your package.json if you rename the `.storybook/main.js` file to `.storybook/main.cjs`.

[2022-08-01 17:36] Patrick-Ullrich commented on #471
Ah... That works. I ran into that issue also in a hosted version, but looking back i must have had something else wrong (not include everything or something...)

Thanks. 👍

[2022-08-01 17:36] #471 closed

[2022-08-02 14:18] romeovs opened #472 "[Bug] HMR does not work, components lose styles"
### What version of `vite` are you using?

3.0.4

### System info and storybook versions

[code]

### Describe the Bug

Using `@storybook/builder-vite` in the most basic setup, HMR seems to not work in the components.

When I edit `src/button/index.tsx`, I see a message in the browser console:
[code]
but nothing actually changes.

When I edit `src/button/styles.module.css`, I see the same message,

[2022-08-02 15:26] robcrock opened #473 "Bug: To assert a Story's Metadata as unknown breaks the iframe"
### What version of `vite` are you using?

3.0.2

### System info and storybook versions

Computer
Model Name:	MacBook Pro
Model Identifier:	MacBookPro18
Chip:	Apple M1 Pro

Browser
Version 103.0.5060.134 (Official Build) (arm64)

### Describe the Bug

I know that this is far from best practice, but I didn't think aliasing as `unknown` would break the iframe.

https://www.loom.com/share/7f5fad85fa

[2022-08-02 16:15] IanVS commented on #473
Can you please provide a reproduction example or steps that I can follow to reproduce this?

[2022-08-03 10:54] JesusTheHun opened #474 "[Bug] Default install do not work - React TS"
### What version of `vite` are you using?

3.0.4

### System info and storybook versions
[code]
### Describe the Bug

Following the `README.md` instructions :

[code]

Starting storybook leads to this :

[code]

### Link to Minimal Reproducible Example

_No response_

### Participation

- [ ] I am willing to submit a pull request for this issue.

[2022-08-03 11:27] TommasoAmici opened #475 "[Bug] absolute links to /assets/"
### What version of `vite` are you using?

3.0.4

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.5
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 16.16.0 - /usr/local/opt/node@16/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.11.0 - /usr/local/opt/node@16/bin/npm
  Browsers:
    Chrome: 104.0.5112.79
    Safari:

[2022-08-03 13:02] IanVS commented on #475
Have you tried setting the `base` config in `viteFinal`?  https://vitejs.dev/config/shared-options.html#base

You could try setting it to `'./'` to make it relative.

[2022-08-03 13:22] JesusTheHun opened #476 "[Bug] Internal server error: presetEntries is not iterable"
### What version of `vite` are you using?

2.9.14

### System info and storybook versions

[code]

### Describe the Bug

Starting a fresh project result in error :

[code]

### Link to Minimal Reproducible Example

https://github.com/JesusTheHun/storybook-builder-vite-bug-preset-entries-not-iterable-repro

### Participation

- [ ] I am willing to submit a pull request for this issue.

[2022-08-03 18:45] AlexMachin1997 commented on #441
Seems to be all working now.

Weird how you need to change main.js to main.cjs.

[2022-08-03 18:57] IanVS commented on #441
That is the way that node works.  If you have `"type": "module"` in your `package.json` file, then node will treat all `.js` files as ESM.  But the storybook config is written in commonjs, so it needs to have an explicit `.cjs` extension so node knows how to deal with it.

[2022-08-03 20:59] IanVS commented on #474
Hi, there's a fix in the way that storybook creates files with `sb init`, https://github.com/storybookjs/storybook/pull/18714, that is waiting to be released.  For now, you can change the name of `.storybook/main.js` to `.storybook/main.cjs` as suggested in the error message, and you'll be back up and running.

[2022-08-03 20:59] #474 closed

[2022-08-03 22:06] altarrok commented on #466
My whole app is using vite but storybook still has webpack dependencies, is there a way to get rid of all webpack dependencies?

[2022-08-04 01:51] IanVS commented on #466
Starting in storybook 7 there will be no more webpack installed.

[2022-08-04 08:16] TommasoAmici commented on #475
Oh, yes, that's it! Thanks for the quick reply 🙂

[2022-08-04 08:16] #475 closed

[2022-08-04 23:37] DarioRega commented on #466
@IanVS i wasn't able to reproduce, seems like a hell of nested dependencies with that webpack... Can't wait for storybook 7 !
Thanks for your support, i will close that issue in the meantime

[2022-08-04 23:37] #466 closed

[2022-08-05 22:01] coreybruyere commented on #238
@llaenowyd were you able to deploy to github pages? Running into the same issue, attempting to change `base`

[2022-08-05 22:30] coreybruyere commented on #238
Is this documented anywhere, new to vite and spent a long time trying to filter out irrelevant webpack config + storybook threads until I luckily found this. Happy its an easy fix, maybe I missed

[2022-08-08 12:56] IanVS commented on #238
@coreybruyere there are some docs about this at https://vitejs.dev/guide/build.html#public-base-path.

[2022-08-08 13:38] bodograumann commented on #421
With the help of @IanVS , I managed to find two viable workarounds:
- explicitely install `react@^17` and `react-dom@^17`, or alternatively
- [update to the MDX2 preview](https://gist.github.com/shilman/6ff2d7e18db8846e8fc552fb432ae4f6) and explicitely install `@mdx-js/react@^2`.

[2022-08-10 13:17] Be-Like commented on #414
Hey, this is still an issue. While `--openssl-legacy-provider` does provide a temporary solution, it isn't compatible with older versions of node and it doesn't address the security risks that are being ignored.

The real issue is that some of the dependencies need to be upgraded. For reference, this is a good good Stack Overflow explanation of the original issue stated above.

https://stackoverfl

[2022-08-10 13:23] IanVS commented on #414
Unfortunately webpack 4 will not be updated to support node 17: https://github.com/webpack/webpack/issues/14532#issuecomment-947513562.  And the storybook manager is currently always built with webpack 4.  This will change in Storybook 7, which will no longer support webpack 4.  So my recommendation for now is to use node 16 or the `--openssl-legacy-provider` flag for now, until Storybook v7 is re

[2022-08-12 13:31] terenceodonoghue commented on #210
Sorry to resurrect this, but I found my way to this guide trying to add Emotion to my Vite Storybook setup. Unfortunately it doesn't seem to work when stories are written in MDX. After making this change all of my MDX stories fail to load, citing:

[code]

Would welcome some insight. I tried setting `jsxRuntime: 'automatic'` in the plugin config, but no joy.

[2022-08-16 19:35] augustoody commented on #316
For anyone that might be facing this too, in my case, it seemed to be all related to how We use the `resolve.alias`. After trying another fix from a different thread here (that asked to remove some dependencies from `preview.jsx`, I found that my alias to `@/components` that was supposed to parse my `app` folder was all broken up.

Taking a look at the `config` coming back from `viteFinal`, it was

[2022-08-17 12:30] bodograumann commented on #206
Can we get a fix in for this, @IanVS / @ghengeveld?

We could enable keepNames in the vite builder by default.

[2022-08-17 13:41] IanVS commented on #206
Thanks, I had lost track of this.  @bodograumann would you be willing to submit a PR?  It should just be a matter of adding the option to https://github.com/storybookjs/builder-vite/blob/a824bef3910fb17f88600c0b61623b1d9bead4bb/packages/builder-vite/vite-config.ts#L36-L51, and verifying that it does the right thing in the example projects.

I'm a bit pre-occupied at the moment with helping to get

[2022-08-18 01:01] juztinlazaro commented on #421
any updates for this? having an issue in vue3 setup

[vite]: Rollup failed to resolve import "@mdx-js/react" from "src/Introduction.stories.mdx".

[2022-08-18 03:49] IanVS commented on #421
@juztinlazaro what version of the vite builder are you using?

[2022-08-18 04:30] juztinlazaro commented on #421
Hi @IanVS "@storybook/builder-vite": "^0.2.2", but when i use yarn install its all working

[2022-08-19 14:11] airtonix commented on #87
![if-only-it-was-real-butter](https://user-images.githubusercontent.com/61225/185637372-ec9d1fbf-52b0-43e8-ae8d-bf01d1e7fab6.gif)

jebus help us! it's sooo slow.

[2022-08-19 14:25] IanVS commented on #87
There is work ongoing right now to address https://github.com/storybookjs/builder-vite/issues/87#issuecomment-930029420.

1. https://github.com/storybookjs/storybook/issues/17971
2. Storybook 7.0 uses esbuild and tsup to pre-bundle the manager and addons.
3. We may be able to HMR stories in 7.0 because webpack is no longer running which was causing HMR conflicts with vite.

Hang in there, things w

[2022-08-19 15:08] airtonix commented on #87
![tears-of-joy-clapping](https://user-images.githubusercontent.com/61225/185649639-d90844a6-0389-49f7-95a0-d720f778f069.gif)

[2022-08-22 16:14] TomABrook commented on #55
My company is migrating to pnpm workspaces and this has been one of the last blockers for us. The webpack final workaround posted above doesn't seem to work when the storybook is part of a workspaces, however I have managed to get it working by adding the following dev dependencies:
[code]

[2022-08-23 12:00] ayush-seth commented on #472
I am facing the same issue. Any updates on this?

[2022-08-23 12:39] IanVS commented on #472
We are pushing hard on storybook 7 which should solve this and many other issues. But I'll try to take a look at this and see if I can figure out what's going on.

[2022-08-23 14:37] #206 closed

[2022-08-23 14:40] IanVS commented on #55
Thanks for sharing, @TomABrook!

[2022-08-23 20:56] mstachalski opened #483 "Missing initializer in const declaration. [Bug]"
### What version of `vite` are you using?

3.0.7

### System info and storybook versions

  System:
    OS: Windows 10 10.0.22000
    CPU: (8) x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
  Binaries:
    Node: 16.17.0 - C:\Program Files\nodejs\node.EXE
    npm: 8.15.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.22000.120.0), Chromium (104.0.1293.63)
  npmPackages:
    @stor

[2022-08-23 21:04] IanVS commented on #483
Does it work correctly if you convert the file to `main.cjs` and use normal commonjs?  I've had lots of problems trying to use typescript in my config files, but the upcoming Storybook 7.0 should support it much better.  So, maybe you can do without TS for a little bit until that's ready?

[2022-08-23 21:08] mstachalski commented on #483
Yeah it worked with normal .cjs. I guess I will just use that then :).

[2022-08-23 21:17] IanVS commented on #483
I know it's a bummer, but it'll get better soon!

[2022-08-24 07:07] szhang-brighte opened #484 "[Bug]"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

System:
  OS: macOS 12.5.1
  CPU: 2 GHz Quad-Core Intel Core i5
Binaries:
  Node: 18.5.0 - ~/.nvm/versions/node/v18.5.0/bin/node
  Yarn: 3.2.0 - ~/.yarn/bin/yarn
  npm: 8.12.1 - ~/.nvm/versions/node/v18.5.0/bin/npm
Browsers:
  Firefox: 103.0.2
  Chrome: 104.0.5112.101
npmPackages:
    "@storybook/addon-action

[2022-08-24 08:36] FezVrasta opened #485 "[Bug] TypeError: previewBuilder.bail is not a function"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

[code]

### Describe the Bug

If I run `start-storybook`, it fails the first time, works the second, but with some errors about my Flow annotations, and works just fine the third time...

`build-storybook` always fails:

[code]

### Link to Minimal Reproducible Example

_No response_

### Participation

- [ ]

[2022-08-24 12:04] AnnikenYT commented on #485
Having a similar issue:
Package `vite-plugin-pages`
[code]
=> `ERR! TypeError: Pages is not a function`

[2022-08-24 12:27] FezVrasta commented on #485
@AnnikenYT that seems a completely unrelated error.

[2022-08-24 13:01] IanVS commented on #485
That's very strange, @FezVrasta.  It's definitely a function: https://github.com/storybookjs/builder-vite/blob/0affa702ec8ef7231e6274fb33a7ff27dc1d01b9/packages/builder-vite/index.ts#L60-L68

Can you share your `.storybook/main.js`?

[2022-08-24 13:12] FezVrasta commented on #485
I tried to add a console.log right before `bail` is called and this is what I see:

[code]

[2022-08-24 13:26] justrhysism opened #486 "[Bug] Script entries in `preview-head.html` not picked up by Vite during build (working during serve)"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

  System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 16.15.1 - ~/.cache/fnm_multishells/50079_1661262794674/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.11.0 - ~/.cache/fnm_multishells/50079_1661262794674/bin/npm
  Browsers:
    Chrome: 104.0.5112.101
    Fir

[2022-08-24 13:34] FezVrasta commented on #485
Oh my, I'm sorry, I noticed I had a custom resolution for `"html-webpack-plugin": "^5.5.0",` because in the past there was a problem with Storybook not picking the correct one, removing it fixes the issue of course 🤦

I think there's still a problem with that `bail` call though, but it's not an issue as long the build doesn't fail and needs to call it.

Also, now I get an out of memory error when

[2022-08-24 13:38] IanVS commented on #485
Webpack is still used for the "manager" part of storybook (the sidebar, addons panel, toolbar, etc), at least until storybook 7 is released.

This looks like a bug in the vite-builder, but I'm not sure why we've never hit it before.

In the meantime, I think your config will also cause some problems.  If you merge in your vite `plugins` to the storybook config, you will have duplicate react plugin

[2022-08-24 13:40] IanVS commented on #484
This definitely looks related to vite changing the structure of their cache.  When you deleted `node_modules/.vite_storybook`, are you certain you were in the right node_modules?  It looks like the cache is being kept in `packages/spark-web/node_modules/`, did you delete that one as well?

[2022-08-24 13:41] RodrigoNovais commented on #441
How exactly does this fix work for typescript projects?

[2022-08-24 13:41] IanVS commented on #486
Thanks for the report, @justrhysism.  To help us troubleshoot, could you create a minimal reproduction that we can experiment with?

[2022-08-24 14:32] IanVS commented on #441
@RodrigoNovais, for now, I'd recommend against trying to use typescript for your storybook config files (`.storybook/main.ts`).  It will be fully supported in storybook 7.0, but for now it's difficult to get working correctly.

[2022-08-24 14:35] RodrigoNovais commented on #441
I am sorry, that's not what I meant.
I just created a new project for react + typescript using vite and would like to know how to make it work with storybooks.
Removing `"type": "module"` from `package.json` seems not to be an option

[2022-08-24 14:38] IanVS commented on #441
@RodrigoNovais mind opening a new issue describing the problem you're seeing?

[2022-08-24 14:40] RodrigoNovais commented on #441
@IanVS I'll be doing that as soon as I can

[2022-08-24 15:28] Dschungelabenteuer commented on #55
I do not want to "shamefully" hoist modules as it was suggested before since I would like to avoid phantom dependencies. Because of this, I also went for manual package installations, just like @TomABrook did. Another way to provide these missing dependencies without polluting the actual `package.json` could be to use pnpm's [`readPackage` hook](https://pnpm.io/fr/pnpmfile#hooksreadpackagepkg-cont

[2022-08-24 23:50] szhang-brighte commented on #484
We have a monorepo setup. It looks like this:
[code]

I've deleted all `node_modules` folders in the monorepo but still getting this error.

[2022-08-25 00:24] terenceodonoghue commented on #210
@zygisau I wound up skipping this solution and instead inserting a JSX pragma at the top of every component file. This ensured they would render in Storybook without needing to modify the Vite config.

[code]

It's generating a lot of annoying console warnings for each component now...

[code]

...but it works.

[2022-08-25 00:54] IanVS commented on #484
Is this an open-source project that you can share a link to?  If not, are you able to create a minimal reproduction that you can share?  Without being able to dig in and poke around, I'm not sure what's going on.  The one last thing you could try is a `git clean` to remove all untracked files, then re-install and try again, but if you already deleted all the node_modules, I'm not hopeful that it w

[2022-08-25 05:23] ledermann opened #487 "[Bug] Installing StoryBook to a Vite3/Vue3 project fails"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

[code]

### Describe the Bug

After installing Storybook to a Vite3/Vue3/Rails project, starting StoryBook fails with this message:

[code]

It seems it tries to require a file named `@storybook/vue3/dist/esm/client/docs/config` which does not exist in the package.

To demonstrate the issue, I created a PR to

[2022-08-26 07:02] 1446445040 opened #488 "[Bug] React.jsx: type is invalid"
### What version of `vite` are you using?

^3.0.0(latest)

### System info and storybook versions

System:
    OS: macOS 12.5.1
    CPU: (8) arm64 Apple M1
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    Yarn: 1.22.19 - ~/.pnpm/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 104.0.5112.101
    Safari: 15.6.1
  npmPackages:
    @storyb

[2022-08-26 07:05] 1446445040 commented on #488
problem lines are as under:
https://github.com/storybookjs/builder-vite/pull/377#discussion_r955653786

[2022-08-26 09:16] nkCreation commented on #409
Sorry for the delay, was on holiday :) I am on a pod on a private gitlab using vite v3 :)

[2022-08-26 09:19] nkCreation commented on #409
The error I have :
[code]

[2022-08-26 11:22] FezVrasta opened #489 "[Bug]"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

[code]

### Describe the Bug

Environment variables are not being injected into `import.meta.env` on production builds (output of `build-storybook`), they are available on `start-storybook` though).

The only variables available are the ones starting with `STORYBOOK_`, but others starting with `VITE_` and the

[2022-08-26 17:43] SSTPIERRE2 commented on #398
@IanVS my hero! I'm in the middle of upgrading a React/Storybook/Vite project to React 18, ran into this exact issue where mdx stories wouldn't load due to the error and your suggestion to install 1.x of mdx-js/react worked! Also this quote

So glad I found this GH issue, because I was confused why I was still seeing that message in the console and thought the upgrade didn't work 😇

[2022-08-30 00:19] bdow commented on #210
@terenceodonoghue - I was having the same problem and errors trying to get MDX working along side my stories. I saw your solution but I didn't really want to add that pragma to _every_ file in our repo. I ended up trying out the [MDX2 Opt-in](https://storybook.js.org/docs/react/writing-docs/mdx#mdx-2) feature, and the MDX stories started building without issues! Shout out to @IanVS for all the hel

[2022-08-30 01:31] IanVS commented on #488
This seems to be a bug in the vite react plugin.  It is only [supposed to](https://github.com/vitejs/vite/blob/37ac91e5f680aea56ce5ca15ce1291adc3cbe05e/packages/plugin-react/src/index.ts#L193) apply to .mjs, .ts(x), and .js(x) files.  In your case, it looks like the query parameter is being used as the file extension, instead of the actual file extension of `.vue`.  They do specifically look at th

[2022-08-30 01:36] 1446445040 commented on #488
Of course. I tried to create a demo with codesandbox， but I failed， I'll try it again later with some other ways

[2022-08-30 02:02] IanVS commented on #488
Thanks!  Sometimes it's easiest to create a new vite project with `npm create vite@latest`, and then add storybook with `npx sb@next init`.  Then when you've got it reproducing the issue, push the repo up to github.

[2022-08-30 03:07] 1446445040 commented on #488
@IanVS I've made the reproduction in this [repo](https://github.com/1446445040/storybook-bug-reproduction), you can check for more info. Just start the project with pnpm, and run `serve`, you'll find something wrong in console.
<img width="500" alt="截屏2022-08-30 11 06 57" src="https://user-images.githubusercontent.com/31957758/187339878-733161b8-4e3c-4394-a0b2-1416bdfd1f6c.png">

[2022-08-30 10:14] tigrr commented on #391
I am having this error, even though I don't use React or Preact, neither do I use MDX.

[2022-08-30 12:10] IanVS commented on #489
Hi, https://github.com/storybookjs/builder-vite/blob/0affa702ec8ef7231e6274fb33a7ff27dc1d01b9/packages/builder-vite/envs.ts#L47 is where we handle stringifying everything for `import.meta.env`.

Can you share a minimal reproduction that demonstrates the issue you're seeing?

[2022-08-30 12:39] FezVrasta commented on #489
I tried to create a repro but I'm getting a problem on the storybook prod build where Storybook renders itself instead of the sample story I provided. When ran with `start-storybook` it works as expected.

https://github.com/fezvrasta/storybook-builder-vite-issue-489

<img width="836" alt="CleanShot 2022-08-30 at 2 39 13@2x" src="https://user-images.githubusercontent.com/5382443/187438690-ff1dfd1e

[2022-08-30 13:05] IanVS commented on #472
I finally took some time to look into this, @romeovs, and found the issue.

You are binding directly to the component, rather than to a `Template` story component.

You need to use something like this:

[code]

Instead, you just had:

[code]

There are a few other issues with the repo as well, such as using @storybook/addon-postcss@3.0.0-alpha.1 (should be version 2.x) and not adding it to your `a

[2022-08-30 13:05] #472 closed

[2022-08-31 15:07] emosheeep commented on #488
Is there any progress on this problem?😋

[2022-08-31 15:14] IanVS commented on #488
No, I haven't had a chance to dig into it yet, but it's on my radar.

[2022-08-31 15:26] emosheeep commented on #488
it’s okay, i’m not in a hurry.  For now, my project runs well by excluding the react plugin.

[2022-09-01 09:14] Adam-Collier commented on #85
I came across a similar problem recently and fixed it with the following:

[code]

[2022-09-02 11:35] IanVS commented on #286
For anyone still dealing with this, you can now try out storybook 7 (in alpha currently, not very stable), which uses your `vite.config.js` config as a base for storybook.  So, you can set your babel config in your react plugin there, and storybook will use it.  Try `npx sb@future upgrade --prerelease` to convert.  And let us know if you hit any issues.  There are probably still a few bugs to work

[2022-09-02 12:20] techpeace commented on #398
I'm also on React 18 w/vite, and I was able to get up and running with `npm i --save-dev @mdx-js/react@1 --force` (actually `pnpm`, in my case).

[2022-09-02 12:32] Niznikr opened #492 "[Bug] SB v7 docs broken without storyStoreV7"
### What version of `vite` are you using?

3.0.0

### System info and storybook versions

System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Pro
  Binaries:
    Node: 16.15.0 - /usr/local/bin/node
    Yarn: 1.22.17 - /opt/homebrew/bin/yarn
    npm: 8.5.5 - /usr/local/bin/npm
  Browsers:
    Chrome: 105.0.5195.52
    Firefox: 104.0.1
    Safari: 15.6.1
  npmPackages:
    @storybook/addon-a11

[2022-09-02 12:38] IanVS commented on #492
Thanks for reporting this.  I don't see `@storybook/builder-vite` in the list of dependencies you listed out above.  What version are you using?

[2022-09-02 12:39] IanVS commented on #398
@techpeace the other thing you can try is to use mdx2, which actually is made for react 18.  https://gist.github.com/shilman/6ff2d7e18db8846e8fc552fb432ae4f6. I wonder if that would also solve the issue for you.

[2022-09-02 12:55] IanVS commented on #492
Ah, you're right.  I'm still getting used to this myself.  :-D

I don't suppose you'd be able to share a minimal reproduction, would you?  I'd love to figure out what's going on, and I haven't seen this before.

Until then, what does your `.storybook/main.js` look like?  Particularly the `stories`.

[2022-09-02 12:57] IanVS commented on #492
Nevermind, I can see it myself when disabling storyStoreV7.  Thanks again for reporting!

[2022-09-02 13:00] Niznikr commented on #492
My pleasure! Thanks for the quick response. I might report the `TypeError: Failed to fetch` error with `storyStoreV7` set to true on Storybook's side as it happens for both Webpack and Vite versions.

[2022-09-02 13:04] IanVS commented on #492
Please do!  You'll definitely want to use storyStoreV7, especially with Vite, so we should be sure to get that fixed.

@tmeasday There's an issue here with the V6 store that I could use your help in troubleshooting.  It reproduces in a new vite storybook project when disabling storyStoreV7.

[2022-09-02 14:31] techpeace commented on #398
Thanks, @IanVS!

Running through those instructions, `"@storybook/react": "^7.0.0-alpha.28"` throws the following:

`Package subpath './preset' is not defined by "exports" in [REDACTED]/@storybook/react/package.json`

This may have something to do with my using pnpm (though that subpath is indeed not defined).

Not a huge deal, since I got it running with the 1.x branch, for the moment.

[2022-09-02 14:58] IanVS commented on #398
You shouldn't need to use `@storybook/react` directly anymore, it's now `@storybook/react-vite`.  If the migration didn't run, you can try `npx sb@future automigrate`, or follow the manual instructions in https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#framework-field-mandatory

[2022-09-02 17:59] siggirh opened #493 "[Bug] Story template object prop containing JSX hangs the browser"
### What version of `vite` are you using?

3.0.9

### System info and storybook versions

  System:
    OS: macOS 12.5.1
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 18.7.0 - ~/.nvm/versions/node/v18.7.0/bin/node
    npm: 8.15.0 - ~/.nvm/versions/node/v18.7.0/bin/npm
  Browsers:
    Chrome: 104.0.5112.101
  npmPackages:
    @storybook/addon-essentials: 6.5.9 =>

[2022-09-04 23:08] Didza commented on #146
Experiencing the same issue with Nuxt 3.

[2022-09-05 00:35] IanVS commented on #146
Hi, I'm not very familiar with vue3 auto imports, or what the issue here is.  Can someone please explain the problem, how it's supposed to work, and what's happening instead?

[2022-09-05 03:32] productdevbook commented on #146
we used, and add settings storybook settings. https://github.com/antfu/unplugin-auto-import

[2022-09-07 10:08] ariaBennett commented on #485
For what it's worth I'm hitting this same issue. I've been on a long chain of dependency errors starting I think with upgrading create-react-app to v5 which led to updating all sorts of things, and I'm assuming updating typescript which ran me into webpack errors. I ran the storybook terminal migration and also added an override for webpack 5.74 in my package.json and now I'm here.

[2022-09-07 11:42] tmeasday commented on #492
Thanks folks! PR here: https://github.com/storybookjs/storybook/pull/19127

[2022-09-11 21:16] Gelocg commented on #7
Yo ! I have the same issue and i don't understand why ?

[2022-09-11 21:23] IanVS commented on #7
@Gelocg would you mind opening a new issue with the details of what you're seeing, and ideally a reproduction or link to your repo that we can use to investigate?

[2022-09-12 23:44] AndrewJSchoen commented on #484
I am experiencing the same issue. Updating to 0.2.2 from 0.1.39 causes the following error:

[code]

I even completely removed `node_modules` and re-installed using yarn, and the error persisted.

[2022-09-13 18:39] grbd commented on #484
I recently ran into this problem, it seems to be intermittent which makes it difficult to figure out

This will sometimes work but other times generate an error
[code]

[2022-09-14 00:44] grbd commented on #484
As a workaround deleting the `node_modules` directory then running `yarn install` I've found seems to work.
I'm not sure if adding a new package in might be a trigger.

[2022-09-14 00:57] limbyungki commented on #489
"vue": "^3.2.39"
"@storybook/builder-vite": "^0.2.2"

![err](https://user-images.githubusercontent.com/22608296/190035011-3e9498cb-ecb0-47aa-8aad-3903d823c9bc.PNG)

Cannot read properties of undefined (reading 'VITE_KAKAO_MAP_APP_KEY')
TypeError: Cannot read properties of undefined (reading 'VITE_KAKAO_MAP_APP_KEY')
    at http://localhost:6006/main.iframe.bundle.js:1479:89
    at callWithErrorHan

[2022-09-14 01:02] IanVS commented on #489
@limbyungki can you share the section of your code where this is coming from?

[2022-09-14 01:10] limbyungki commented on #489
SgMap.vue
~
onMounted(() => {
  if (window.kakao && window.kakao.maps) {
    initMap();
  } else {
    const script = document.createElement('script');
    script.onload = () => kakao.maps.load(initMap);
    const appkey = import.meta.env.VITE_KAKAO_MAP_APP_KEY;
    script.src =
      'http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=' + appkey;
    document.head.appendChild(script);
  }

[2022-09-14 01:26] IanVS commented on #489
Thanks.  Do you have any kind of `envPrefix` set in your `viteFinal`, by chance?  https://vitejs.dev/config/shared-options.html#envprefix

[2022-09-14 01:32] limbyungki commented on #489
vite.config.js

import path from 'path';
import { defineConfig } from 'vite';
import vue from '@vitejs/plugin-vue';
import vuetify from 'vite-plugin-vuetify';
import vueI18n from '@intlify/vite-plugin-vue-i18n';
import { VitePWA } from 'vite-plugin-pwa';

export default defineConfig({
  plugins: [
    vue(),
    vueI18n({
      include: path.resolve(__dirname, './src/locales/**'),
    }),
    Vite

[2022-09-15 14:16] davisuga-h opened #496 "[Bug] Cannot read property 'createExpressionStatement' of undefined"
### What version of `vite` are you using?

3.1.1

### System info and storybook versions

System:
  OS: Linux Mint 20.3 una
npmPackages:
  "@storybook/addon-actions": "^6.5.12",
  "@storybook/addon-essentials": "^6.5.12",
  "@storybook/addon-interactions": "^6.5.12",
  "@storybook/addon-links": "^6.5.12",
  "@storybook/builder-vite": "^0.2.2",
  "@storybook/react": "^6.5.12"
Binaries:
  Node: v14.

[2022-09-15 15:06] Scalahansolo opened #497 "[Bug] p.exports.jsxDEV is not a function when building / deploying storybook"
### What version of `vite` are you using?

2.9.1

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.6
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 105.0.5195.125
    Firefox: 98.0.1

[2022-09-15 15:14] IanVS commented on #496
@davisuga-h thanks for the report.  Are you able to narrow down which component this is happening in, and share that component here?  It seems that react-docgen-typescript isn't able to find a display name for the component.

[2022-09-15 15:22] Scalahansolo commented on #497
My `.storybook/main.ts` file...

[code]

Also worth noting here... I just upgraded my codebase / deps to Vite 3+ and the most recent version of `builder-vite`. Issue still occurs.

[2022-09-15 15:24] Scalahansolo commented on #497
Ugh... I just removed `'multiple-themes-stitches'` because I was no longer using it... Works fine it seems now. Going to try to actually deploy this story on `chromatic` before closing this issue out.

[2022-09-15 16:08] #497 closed

[2022-09-15 23:24] mikecousins opened #498 "[Bug] Incompatible with Vite 3.1.x"
### What version of `vite` are you using?

3.1.1

### System info and storybook versions

System:
- Windows 11 Pro
- Node 18.7.0
- Storybook 6.5.12

### Describe the Bug

When I update Vite to 3.1.x (tested 3.1.0 and 3.1.1 so far) the build fails with the following error:

[code]

### Link to Minimal Reproducible Example

_No response_

### Participation

- [X] I am willing to submit a pull reques

[2022-09-16 19:42] grbd commented on #484
One trigger for the problem seems to be when adding new packages to a project.
I think this will trigger a redo over of the temp directory being generated or moved which then has a 50 / 50 chance of working or generating an error on the next run. Although once it is working it seems to stay that way.

Not sure if it's a Windows only problem, but deleting node_modules if it crops up then doing a `y

[2022-09-16 19:49] IanVS commented on #484
I opened an [issue](https://github.com/vitejs/vite/issues/9986) in vite, and there's a PR that may help to improve the situation, but I'm not sure it'll solve it completely.

[2022-09-17 15:41] sourabh129 commented on #452
You need to add "type": "module" in package.json to fix this in node v14

[2022-09-19 12:28] IanVS commented on #498
Can you please share your `.storybook/main.js`, or better yet, a minimal reproduction?

[2022-09-19 12:30] IanVS commented on #492
@Niznikr can you try upgrading to the latest 7.0 alpha and confirm that your issue is solved?  I'm going to close this in the meantime, but let us know if you're still having trouble.  Thanks!

[2022-09-19 12:30] #492 closed

[2022-09-19 12:33] IanVS commented on #432
I think this is related to an issue that was reported in discord, along with a reproduction: https://github.com/hirotaka/storybook-vite.

Removing the vite react plugin solves the issue in that case.  I think the two plugins are conflicting.

[2022-09-19 13:50] IanVS commented on #452
@sourabh129 that shouldn't have anything to do with this error.  That has to do with how files named `.js` are treated, either as commonjs or as es modules.

[2022-09-19 14:47] sourabh129 commented on #452
@IanVS, You are right, but it somehow fixes the error. Please try adding it in this repo. Vite 3 works fine with node v14 when "type": "module" is present in package.json

[2022-09-19 18:54] brupelo opened #499 "[Bug] Typescript must be installed when using react"
### What version of `vite` are you using?

3.1.0

### System info and storybook versions

Environment Info:

  System:
    OS: Windows 10 10.0.19043
    CPU: (12) x64 Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz
  Binaries:
    Node: 17.8.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.19 - C:\Program Files\nodejs\yarn.CMD
    npm: 8.5.5 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spa

[2022-09-19 19:05] IanVS commented on #499
@joshwooding any thoughts on how we can avoid problems for projects without typescript?

[2022-09-21 06:02] Juanjo-GEx commented on #498
This configuration doesn't work:

[code]

Error

[code]

[2022-09-21 11:42] mnik01 commented on #141
Having same issue.

Using: Storybook + SvelteKit

`
16:40:06 [vite] Internal server error: Failed to resolve import "@storybook/client-api" from "..\..\..\..\virtual:\@storybook\builder-vite\vite-app.js". Does the file exist?`

Deps:
[code]

[2022-09-21 12:33] IanVS commented on #141
I have a PR open in the main storybook repo which will address this for storybook 7.0. For now the workaround is to add the missing packages to your package.json.

[2022-09-21 19:55] Niznikr commented on #492
That fixed it thanks!

[2022-09-22 23:08] adalinesimonian commented on #141
Piling onto this, when using Vue and PnP, builder-vite errors out completely even if `@vitejs/plugin-vue` is installed in the root project.

[code]

afaik `@vitejs/plugin-vue` should be in `peerDependencies` along with a `peerDependenciesMeta` entry making it optional, same with `@sveltejs/vite-plugin-svelte`.

[2022-09-22 23:51] adalinesimonian commented on #141
Opened a PR to add the missing peer deps into this repo: #500

[2022-09-23 15:45] dvakatsiienko opened #501 "[Bug] Incopatibility with storybook-addon-next"
### What version of `vite` are you using?

vite

### System info and storybook versions

System:
 OS: MacOS BigSur 11.7
 CPU: 2.3 GHz Quad-Core Intel Core i7
Binaries:
 Node: 16.16.0
 yarn: 1.22.15
Browsers:
 Chrome: 105.0.5195.125
npmPackages:
    "@storybook/addon-actions": "6.5.12",
    "@storybook/addon-essentials": "6.5.12",
    "@storybook/addon-links": "6.5.12",
    "@storybook/builder-vite

[2022-09-26 20:46] develohpanda commented on #286
@IanVS that's awesome to hear! Do you know if Storybook 7 has a target stable/release date? Our deployed instance of Storybook is not crucial however I'm wary of jumping onto a prerelease version in case it impacts development cycles.

[2022-09-26 21:02] IanVS commented on #286
I haven't heard any recent estimates, but I think it will likely go into beta in October or November, and then stable release at the end of this year or beginning of next.

Totally understandable about not wanting to risk churn with prerelease versions.  I'd love if you were willing to test it out, though, and report any issues you might come across.  That's how we can help ensure the smoothest tr

[2022-09-28 04:08] emosheeep commented on #488
I saw this issue https://github.com/storybookjs/builder-vite/pull/469 closed and there was some related commit has been merged, I wonder if this issue could be resolved? Seems that this problem is also related to the compatibility and some people around encountered too.

[2022-09-28 12:07] IanVS commented on #488
The issue is that we're using the react plugin for mdx, but that conflicts with vue files written in jsx/tsx.  I think we need to find a different way to handle mdx.  In 7.0 I think this will be solved by the upgrade to mdx2.  Unfortunately I don't think the vue2 PR you mention helped this situation.

[2022-09-28 12:36] emosheeep commented on #488
Well, I got it. It seems that we have to make some choices on this. Looking forward to 7.0😄

[2022-09-28 15:33] mikecousins commented on #498
`.storybook/main.js`:

[code]

For some reason it's not happening in a simple repro, only seems to happen in our big monorepo that I can't share :(

[2022-09-28 16:39] IanVS commented on #498
That's a very old version of this builder.  The project was renamed to `@storybook/builder-vite`.  Can you try installing version 0.2.3 and change the `core.builder` option, and see if that helps?

[2022-09-28 17:17] blowsie commented on #414
@IanVS Its worth noting that in newer versions of Node (I think [18.5.0](https://github.com/nodejs/node/blob/main/doc/changelogs/CHANGELOG_V18.md#2022-07-07-version-1850-current-rafaelgss)) this option `--openssl-legacy-provider` is no longer supported. So It seems that Vite Storybook is now stuck on older versions

[2022-09-28 17:45] mikecousins commented on #498
Awesome, that fixed it! Thanks.

[2022-09-28 18:04] IanVS commented on #414
@blowsie thanks for the heads-up.  So, it sounds like if you need to use a version of node that does not support the flag, you'll need to update storybook to version 7, which does not include webpack for vite projects.

[2022-10-04 05:58] emosheeep opened #506 "[Bug]"
### What version of `vite` are you using?

3.1.0

### System info and storybook versions

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    Yarn: 1.22.19 - ~/.pnpm/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 105.0.5195.125
    Safari: 16.0
  npmPackages:
    @storybook/addon-act

[2022-10-04 07:44] andreifilip123 commented on #238
I've also had wasted some days figuring out. Happy I found this issue but deploying storybook to a subdirectory should not be this hard. Maybe the docs should be clearer on how to do this. Just wanted to mention that this issue is not that rare 😅 Thanks for the fix @bfanger

[2022-10-04 10:36] IanVS commented on #238
This doesn't really have anything to do with storybook, it is a vite option. Maybe you can open an issue in the vite repo?

[2022-10-04 10:58] andreifilip123 commented on #238
Maybe I'm wrong on this one but in my opinion, the fact that storybook generates assets that are absolute (`/assets/iframe.*.js`) is more of a storybook issue than a vite one.

[2022-10-04 11:30] IanVS commented on #238
OK that's fair.  I think we can update the default `base` in storybook 7.0.  I'm reluctant to change it in 6.5, in case anyone is relying on the current default.

[2022-10-04 11:34] IanVS commented on #506
Doh, you're right, not sure why I thought that would work.  I'll fix it up, but for now, I think you could use `"vue": "^2.7.0"` for the dependency as a workaround (the latest 2.7 will still be installed).

[2022-10-04 11:46] andreifilip123 commented on #238
Totally understandable. But could this be something that can be fixed in the builder-vite repo instead of the storybook main version ? 🤔 I think that for the webpack users, there are more ways to do it than for us, the vite community

[2022-10-04 12:32] IanVS commented on #238
builder-vite has moved into the storybook monorepo for 7.0.  This repo here will only be for 6.5.  And yes, I think we can make the change just for vite projects, by setting the default `base` option for vite, which will still let users override it if they need to, using `viteFinal`.

[2022-10-04 14:01] viniciusflv opened #507 "[Bug] Stories globs not matching on fresh install"
### What version of `vite` are you using?

3.1.4

### System info and storybook versions

System:
  OS: windows 10
  CPU: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz @ 2.80 GHz
Binaries:
  Node: 16.14.2
  Yarn: 1.22.18
  npm: 8.5.5
Browsers:
  chrome: 105.0.5195.128
npmPackages:
  "@storybook/addon-actions": "^6.5.12",
  "@storybook/addon-essentials": "^6.5.12",
  "@storybook/addon-interactions

[2022-10-04 14:14] IanVS commented on #507
Thanks for the reproduction.  It's working fine on my mac, but I see you're using windows.  Maybe someone with a windows machine can help to verify and troubleshoot?  @joshwooding do you have a windows box you could try this on?

[2022-10-04 21:38] joshwooding commented on #507
This works for me too

[2022-10-04 21:49] IanVS commented on #507
I'll leave this open for a while in case anyone else runs into it, but it seems like maybe it's something going on with your local machine, @viniciusflv.

[2022-10-05 10:38] riaanduplessis commented on #506
I can confirm changing it to `"vue": "^2.7.0"` works. This was quite interesting to track down since I still had `vite-plugin-vue2` installed, in which case Storybook runs fine until you try and render a component using `<script setup>`.

[2022-10-05 11:28] IanVS commented on #506
😬 I'll try to get a fix out as soon as I can.

[2022-10-05 12:41] emosheeep commented on #506
Really appreciate

[2022-10-05 13:26] viniciusflv commented on #507
Thanks @IanVS and @joshwooding for the quick response.

It's my bad for not trying with a different OS. Unfortunately I won´t be able to provide a sandbox, but since will remain open I'll give more context.

The machine is not mine so I can only install stuff through scoop. Webpack builder works fine, so no worries.
It was working fine until really recent, probably vite related, I had received the

[2022-10-06 08:09] guenyoo commented on #316
I too am failing to use aliases in my project. I've created a Stackblitz Example, although my particular Setup would be with React and Typescript it doesn't work in this example either:

https://stackblitz.com/edit/vitejs-vite-uebhue?file=.storybook/main.js

`const { mergeConfig } = require('vite');
const path = require('path');

module.exports = {
  stories: ['../src/**/*.stories.mdx', '../src/**

[2022-10-06 18:05] Amerlander commented on #419
I tried to create a reproduction, but I failed, since it was just working with the template (see here for a working example: https://github.com/Amerlander/storybook-experimental-vite-unplugin-icons-issue-repro ).

I have a project where I use the latest version of SvelteKit, and it is also working there. I initial had a different `viteFinal` and had the same issues as you, so you might try to just

[2022-10-06 19:58] grbd commented on #419
I've moved away from svelte now, so I'll close this down if its working ok

[2022-10-06 19:58] #419 closed

[2022-10-07 02:27] IanVS commented on #316
Thanks @augustoody

[2022-10-07 02:27] #316 closed

[2022-10-08 12:40] joshwooding commented on #507
@viniciusflv I tried to reproduce it again commenting out storyStoreV7 but it still works fine for me...

Not sure what's causing the inconsistency here 🤔

[2022-10-08 12:58] joshwooding commented on #501
@dvakatsiienko Hi, your reproduction repo is private. Do you mind giving us access?

[2022-10-08 13:15] joshwooding commented on #501
Saying that I do think I know what the issue is. storybook-addon-next was only create to support webpack. The issue here is because __NEXT_VERSION isn't set. Normally this is done using the define plugin https://github.com/RyanClementsHax/storybook-addon-next/blob/fb4ade3be790f68cf3eb47cff53eb45bd5d945d4/src/utils.ts#L8 so maybe if you re-create that using vite's define option it might work but ha

[2022-10-08 13:17] joshwooding commented on #499
Hi @brupelo, can you try to reproduce this with [0.2.4](https://github.com/storybookjs/builder-vite/releases/tag/v0.2.4) please

[2022-10-08 13:21] dvakatsiienko commented on #501
I've though it's dead so deleted repository with repro example.
Got it back, [check here](https://github.com/dvakatsiienko/next-vite-storybook-bug-reproduction).

[2022-10-08 13:22] dvakatsiienko commented on #501
@joshwooding I'll take a look

[2022-10-08 13:27] dvakatsiienko commented on #501
I've created an issue for [storybook-addon-next](https://github.com/RyanClementsHax/storybook-addon-next) as well, RyanClementsHax/storybook-addon-next#120.
@RyanClementsHax gave his comment from his side why it won't work for now, so let's wait I guess.

[2022-10-08 14:21] joshwooding commented on #483
@mstachalski I think the other fix is to use module.exports like https://github.com/jpmorganchase/uitk/blob/d66316c645ef9c2887dc41dd4dd7c708eec3fcbc/.storybook/main.ts#L64. Going to close this issue since it's not something that we can fix in the vite builder unfortunately

[2022-10-08 14:21] #483 closed

[2022-10-08 15:55] #485 closed

[2022-10-10 11:16] srflp commented on #55
This single line in .npmrc fixed problems with storybook and npm for me:
[code]

[2022-10-10 14:36] fdc-viktor-luft commented on #55
That might be a suitable work around, but not a real solution 🤔

https://pnpm.io/npmrc#public-hoist-pattern

[2022-10-10 14:56] IanVS commented on #55
FWIW, we are working on improved pnpm support in 7.0, and our goal is to not require any hoisting or workarounds.

[2022-10-11 08:03] ranihorev commented on #12
I was trying to see if I can pass that error if I mock it. It's not doing
anything :)

On Thu, Apr 14, 2022 at 17:28 Ian VanSchooten ***@***.***>
wrote:

[2022-10-11 13:04] IanVS commented on #12
We are no longer mocking core-js.  Are you still having problems with the latest versions of `@storybook/builder-vite`?

[2022-10-12 00:25] gabrielcarloto commented on #507
I'm getting the same error. Tried with npm (8.15.0), pnpm (7.13.4) and yarn (1.22.19) on win 11, but nothing works. In the browser (firefox) console, there is also this error: `Unable to load story '*'`.

My `vite` version is 3.1.7

When I comment the `storyStoreV7`, I get an infinite loading screen and this error:

[code]

[2022-10-12 11:31] IanVS commented on #507
@gabrielcarloto can you share the `stories` config from your `main.js`?  I'm thinking maybe you used backslashes in your glob, instead of forward slashes.

[2022-10-12 12:16] gabrielcarloto commented on #507
@IanVS here it is:

[code]

[2022-10-12 22:03] jrmyio commented on #233
Did anyone find a solution or workaround?

[2022-10-13 04:42] emewjin commented on #409
I have meet the same issue. Unfortunately, dantman's solution was not working.
[code]

[2022-10-13 12:25] IanVS commented on #409
It's not just us, unfortunately.  The underlying issue in Vite has by far the most 👍 of any issue there: https://github.com/vitejs/vite/issues/2433.

[2022-10-14 12:45] RodrigoHamuy opened #511 "[Bug] Error loading modules after v0.2.2"
### What version of `vite` are you using?

3.1.0

### System info and storybook versions

  System:
    OS: Linux 5.15 Ubuntu 22.04.1 LTS 22.04.1 LTS (Jammy Jellyfish)
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
  Binaries:
    Node: 16.15.0 - ~/.nvm/versions/node/v16.15.0/bin/node
    Yarn: 1.22.19 - ~/.nvm/versions/node/v16.15.0/bin/yarn
    npm: 8.5.5 - ~/.nvm/versions/node/

[2022-10-14 14:56] jgunzelman88 opened #512 "[Bug] Output directory in config"
### What version of `vite` are you using?

0.2.4

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 16.17.0 - /usr/local/opt/node@16/bin/node
    npm: 8.15.0 - /usr/local/opt/node@16/bin/npm
  Browsers:
    Chrome: 106.0.5249.119
    Firefox: 103.0.2
    Safari: 16.0

### Describe

[2022-10-14 15:02] IanVS commented on #512
@jgunzelman88 you can set the `base` to `'./'`.  See https://vitejs.dev/config/shared-options.html#base for details.

@yannbf here's an example of an issue that would be solved by https://github.com/storybookjs/storybook/pull/19383

[2022-10-14 20:30] viniciusflv commented on #507
It is working now. As suspected it's probably something with my machine config.

Yesterday I had to reinstall everything from scratch, for a unrelated issue, so I think maybe it was some sort of global cache that
`npm cache clean -f` wasn't able to clear.

[code]

Thank you all for the incredible work and for the quick feedback.

[2022-10-15 15:19] joshwooding commented on #507
Thanks for the update @viniciusflv. Closing this issue now

[2022-10-15 15:19] #507 closed

[2022-10-19 17:43] Miguel-Bento-Github commented on #85
Where does `configType` come from?
Do you have an example on what you pass there?

[2022-10-19 18:02] IanVS commented on #85
It can be destructured from the second callback parameter of `viteFinal`:

[code]

[2022-10-20 13:40] do2bly opened #513 "[Bug] vite.createFilter is not function"
### What version of `vite` are you using?

^0.2.4

### System info and storybook versions

System:
OS: macOS 12.2.1
CPU: Apple M1 Pro
Binaries:
Node: 16.13.2 - /usr/local/opt/node@16/bin/node
npm: 8.1.2 - /usr/local/opt/node@16/bin/npm
yarn: 3.2.1
Browsers:
Chrome: 106.0.5249.119

### Describe the Bug

I'm use storybook and @storybook/builder-vite in React project.
I found an error while running t

[2022-10-20 14:12] IanVS commented on #513
This likely means that you have an old version of vite installed. Can you double-check that you're using vite 3 or above?

[2022-10-20 14:21] do2bly commented on #513
@IanVS
I solved this issue by installing vite 3.
Thank you for your advise.

[2022-10-20 14:32] #513 closed

[2022-10-20 22:21] abhinavramkumar commented on #496
@davisuga-h Could you try upgrading your typescript version to the latest and run storybook. I was facing the same issue and this resolved it for me.

TS version that I'm using is 4.8.4
I also changed the extension of  main.js and preview.js in the .storybook directory to ".ts"

Hope this helps. Cheers!

[2022-10-21 23:24] viveleroi commented on #414
I was under the impression this project would allow storybook to use vite's build system and not webpack, yet these issues are because storybook v6 is using webpack v4... am I incorrect?

This issue is currently a problem for us... everyone has recently updated to node 18.9.x and we're starting a new major project with vite and storybook, so I'm trying to determine the best path.

[2022-10-21 23:37] IanVS commented on #414
@viveleroi if you need to use node 18, I'd recommend trying out storybook 7, which does not use webpack at all if you're using a vite framework.  You can run `npx sb@next upgrade --prerelease` to try out the latest v7 alpha release.

[2022-10-23 19:28] morewings opened #514 "[Bug] Build doesn't work with Github pages"
### What version of `vite` are you using?

3.1.0

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.6
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
  Binaries:
    Node: 16.14.0 - ~/.nvm/versions/node/v16.14.0/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.3.1 - ~/.nvm/versions/node/v16.14.0/bin/npm
  Browsers:
    Chrome: 106.0.5249.11

[2022-10-23 20:16] morewings commented on #514
I found the answer myself. `base: '/<Repo Name>/'` has to be added to `.storybook/main.js`

[2022-10-23 20:17] morewings commented on #514
Thanks

[2022-10-23 20:17] #514 closed

[2022-10-24 03:03] rogerleung0411 commented on #55
can't wait to see this final solution shipped with a release version!

[2022-10-26 15:48] idosius commented on #511
+1

[2022-10-27 01:52] shadow7412 commented on #485
@joshwooding I'm getting this issue too. Can this be released to NPM?

[2022-10-27 14:15] n3ur0n commented on #7
I have added vite.config.js and it works now for me.
[code]

[2022-10-27 21:39] joshwooding commented on #499
Closing for now since there hasn't been any activity.

[2022-10-27 21:39] #499 closed

[2022-10-27 21:44] joshwooding commented on #485
@shadow7412 0.2.5 has now been released 🎉

[2022-10-28 02:02] elsangedy commented on #85
[code]

[2022-10-28 10:43] Coreusa commented on #141
As others have said, adding the dependency it's complaining about to `package.json` and then running `yarn install` again fixed the issue.

Under devDependencies add:

`"@sveltejs/vite-plugin-svelte": "next"`. Like so:

![image](https://user-images.githubusercontent.com/706874/198568959-33e6693d-7fe7-4f9e-ae38-9ee40916ea6a.png)

[2022-10-28 15:06] williamgoulois commented on #55
🎉 Thanks a lot for this solution ! works perfectly without clogging package.json or vite config.optimizeDeps.include with a bunch of storybook packages
Don't forget to run `pnpm install` to update node_modules structure after your changes

This solution to change root appeared to work for me in the first time but was actually breaking `@storybook/addon-postcss`.
The CSS file that i was importing i

[2022-10-28 21:44] TheMightyPenguin commented on #409
@emewjin @IanVS if it does help, I was able to workaround this by disabling sourcemaps in my Vite config for storybook:

[code]

[2022-10-29 06:12] georgiosd commented on #141
As a TLDR for anyone visiting this thread: I can confirm that adding a ton of storybook packages with `pnpMode: loose` works without enabling `nodeLinker: node_modules` but I've added almost all `@storybook` packages and still have warnings - hope this can get fixed soon:

[code]

[code]

[2022-11-01 21:47] BernardoBernal commented on #421
Hi @IanVS I've the same problem with vue 3 setup. I using @storybook/builder-vite 0.2.5. The console throws this message:

[vite] Internal server error: Failed to resolve import "@mdx-js/react" from "src\stories\Introduction.stories.mdx". Does the file exist?

Plugin: vite:import-analysis
  File: Introduction.stories.mdx:4:28
  3  |  /* @jsx mdx */
  4  |  import React from 'react';
  5  |  import

[2022-11-01 23:56] unional opened #515 "[Bug] build-storybook not working"
### What version of `vite` are you using?

3.1.0

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Pro
  Binaries:
    Node: 16.14.2 - ~/.nvm/versions/node/v16.14.2/bin/node
    npm: 8.5.0 - ~/.nvm/versions/node/v16.14.2/bin/npm
  Browsers:
    Chrome: 107.0.5304.87
    Firefox: 105.0.3
    Safari: 16.0
  npmPackages:
    @story

[2022-11-02 14:29] IanVS commented on #515
Can you please share how you're starting up your storybook?  Are you using something like `npx http-server storybook-static`?

Also, can you share your storybook config, particularly your `viteFinal` if you have one?

[2022-11-03 10:28] AlEsGoGit opened #516 "[Bug] Compatibility with vue 2.7 and @vitejs/plugin-vue2"
### What version of `vite` are you using?

3.2.0

### System info and storybook versions

  System:
    OS: Linux 5.15 Ubuntu 22.04.1 LTS 22.04.1 LTS (Jammy Jellyfish)
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
  Binaries:
    Node: 16.18.0 - /usr/bin/node
    Yarn: 1.22.19 - /usr/bin/yarn
    npm: 8.19.2 - /usr/bin/npm
  Browsers:
    Chrome: 102.0.5005.61
    Firefox: 106.0.

[2022-11-03 11:14] IanVS commented on #516
You are running an older version of this package, please update @storybook/builder-vite to the latest version (0.2.5), which supports Vue 2.7.

[2022-11-03 11:14] #516 closed

[2022-11-03 11:34] AlEsGoGit commented on #516
I red this in the docs.
`Vite 3.0 or newer (for Vite v2 (2.5+), use @storybook/builder-vite@0.1.x)`
Thats why im  using the 0.1 version.

[2022-11-03 11:43] IanVS commented on #516
In your issue you said you are using vite 3.2.0, which means you can use the new version of this package.  If you're on an old 2.x version of vite, and you want to use vue 2.7 and storybook builder-vite, you'll need to upgrade vite.

[2022-11-03 14:25] AlEsGoGit commented on #516
My bad sorry, it works as expected with the latest version as you said.

[2022-11-03 14:52] IanVS commented on #516
Great, glad it's working!  🙌

[2022-11-03 17:57] 55Cancri commented on #452
@sourabh129 is correct. Adding type: module does solve problem on node v14 but I'm not sure why

[2022-11-04 14:14] chuck-adaptive commented on #439
Experiencing the same. I've added all dependencies to the the `optimizeDeps.include` - same issue

[2022-11-04 14:26] IanVS commented on #439
@chuck-adaptive this can often indicate an error with your `preview.js` or some other problem with bundling your files. Do you see any error messages in the terminal where you started storybook?   What versions of storybook and builder-vite are you using?  If you're not seeing any other error messages, can you create a reproduction or share a link to your project if it is open source?

[2022-11-04 14:36] chuck-adaptive commented on #439
Unfortunately my project is no open source.

I see no other errors in my terminal. The build passes and the error triggers only when I select a story.

Downgrading my storybook & vite builder is showing me the same. I will try and create a repro and update you if I resolve it.

[2022-11-04 19:16] DatStorm opened #517 "[Bug] React peerDependencies crash. Normal dependencies works"
### What version of `vite` are you using?

3.2.0

### System info and storybook versions

Environment Info:

  System:
    OS: Windows 10 10.0.19042
    CPU: (16) x64 AMD Ryzen 7 PRO 4750U with Radeon Graphics
  Binaries:
    Node: 16.12.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 8.1.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:

[2022-11-04 19:35] IanVS commented on #517
You should add react and react-dom as `devDependencies` as well, so that they're present while you're working on the project.

[2022-11-05 21:14] DatStorm commented on #517
Works when adding as `devDependencies`. Thanks a lot

[2022-11-05 21:14] #517 closed

[2022-11-05 21:39] viveleroi opened #518 "[Bug] Failed to resolve import "@storybook/preview-web""
### What version of `vite` are you using?

3.2.2

### System info and storybook versions

Windows 11. Storybook 6.5.13. Node 16.10.0 x64. Yarn 3.2.4

### Describe the Bug

I did a fresh install of storybook using `npx storybook init --builder @storybook/builder-vite`.

I then ran `start-storybook -p 6006`. The address opens in my browser and I get the following error:

[code]

### Link to Minimal

[2022-11-05 21:50] IanVS commented on #518
It looks like maybe you're using yarn pnp?  This version of the vite builder does not work with yarn pnp very well, see https://github.com/storybookjs/builder-vite/issues/141.  But, if you're willing to try out the latest 7.0 alpha versions, support is much better there (though maybe not yet perfect, you may still need to install a few packages manually).  You can upgrade using `npx sb@next upgrad

[2022-11-05 22:13] viveleroi commented on #518
I am using pnp. I actually had originally tried this on sb 7 alpha 47. I tried sb 6 hoping it would work. I get the same issues on both but this time I installed all of the packages it errored on:

[code]

I got all of those installed but now I get this error:

[code]

My `.storybook/main.js` is pretty much default, although I added the builder to `core` as your readme suggested.

[code]

[2022-11-05 22:50] IanVS commented on #518
This is coming from a mis-match of storybook versions.  Can you run `npx sb@next info` and share the results?

[2022-11-05 22:57] viveleroi commented on #518
Yes, I realized with some googling that I wasn't installing the alphas of those packages. Am doing that now.

I had to install a few more packages:

[code]

But it seems to be booting now. Obviously this is an alpha but man that's a lot of packages.

[2022-11-05 23:10] IanVS commented on #518
If you're using the alpha, you can probably remove most of the storybook packages.  You'll need `storybook`, the framework package (like `@storybook/react-vite`), and the renderer, (e.g. `@storybook/react`), and the addons.  I have a PR waiting for review which would avoid having to install all the sub-addons of essentials.

In other words, if you're on the alpha, you can remove:

[code]

[2022-11-05 23:19] viveleroi commented on #518
Ok I've removed those and it does seem to still work. Here's what I'm left with at the end of this process:

[code]

[2022-11-05 23:23] IanVS commented on #518
That mostly looks correct, though you shouldn't need `@mdx-js/react` (7.0 uses mdx2) or `@storybook/builder-vite` (it's included with `@storybook/react-vite`.  If https://github.com/storybookjs/storybook/pull/19689 is merged and released, you won't need all those addons either, only the ones you specify in your `main.cjs` directly.

[2022-11-05 23:42] viveleroi commented on #518
I can remove the mdx one but I need the builder-vite package because it throws an error without it... likely thanks to yarn 3.

[code]

[2022-11-05 23:55] IanVS commented on #518
oh interesting, I didn't know about that one.  Does it still happen if you remove this line from your main.cjs?  `core: { builder: "@storybook/builder-vite" },` (that's no longer necessary in 7.0)

[2022-11-06 00:03] viveleroi commented on #518
Yes, it still happens even after I remove that line from main.cjs.

[2022-11-06 01:25] viveleroi commented on #518
I appended the stack trace to my last comment in case that helps you. I really appreciate your time. I'll close this as solved and I look forward to v7.

A decade ago, when we started the last major web project, I setup a bunch of isolated html pages with our design components. We're now starting a fresh project with react/ts etc and I'm so pleased storybook exists, it's what I did but 10x better.

[2022-11-06 01:25] #518 closed

[2022-11-06 06:35] viveleroi commented on #518
I don't know if this is related but I'm realizing I'm not seeing any docs or controls. I see my components but only in canvas mode. I haven't disabled docs via main.cjs, I have the addons-essentials listed and installed (default from init).

Here's a very rough sb 7 story, I don't see any reason this would breaks docs.

[code]

[2022-11-06 12:49] IanVS commented on #518
I see that shilman answered in discord: https://discord.com/channels/486522875931656193/915642585761075280/1038741649293062174

TLDR for anyone else: docs are opt in https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#docs-page

[2022-11-07 12:47] vertic4l opened #519 "[Bug] The symbol "prevRefreshReg" has already been declared"
### What version of `vite` are you using?

3.2.2

### System info and storybook versions

Environment Info:

  System:
    OS: macOS 12.6
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 18.11.0 - /opt/homebrew/bin/node
    npm: 8.19.2 - /opt/homebrew/bin/npm
  Browsers:
    Chrome: 107.0.5304.87
    Safari: 16.0
  npmPackages:
    @storybook/addon-actions: ^6.5.13 => 6.5.13
    @storybook/a

[2022-11-07 12:53] IanVS commented on #519
You have multiple react plugins.  You've got two options:

1) Try out the latest storybook 7.0 alpha version, which uses your config from `vite.config.js` so you don't have to define it twice.
2) Filter out the react plugin in your viteFinal before adding in your own.  (see https://github.com/storybookjs/builder-vite/issues/286#issue-1176508222 for an example).

If you want to try option 1 (I'd re

[2022-11-07 12:55] vertic4l commented on #519
@IanVS Thanks, it's indeed all about that react plugin which produces that issue.

[2022-11-07 13:02] vertic4l commented on #519
@IanVS Thanks for the tip, just tried out storybook 7.0 alpha version... Everything is fine now. And it's so fucking fast. Nice! :D

[2022-11-07 13:02] #519 closed

[2022-11-07 14:19] IanVS commented on #519
Unfortunately that's one of the top issues with vite right now.  See https://github.com/vitejs/vite/issues/2433 for some tips and workarounds to deal with it.

[2022-11-13 00:09] ZelCloud opened #520 "[Bug] Create react typescript broken project generated"
### What version of `vite` are you using?

vite@latest

### System info and storybook versions

Windows 10 64bit
ryzen 5950x

### Describe the Bug

Attempting to use vite for the first time. Did npm create vite@latest to generate a react typescript project. Ran npm install then tried npm run dev and got the following error.

[code]

### Link to Minimal Reproducible Example

_No response_

### Part

[2022-11-13 00:13] #520 closed

[2022-11-16 15:24] AthulMuralidhar opened #522 "[Bug] Trying to import modules breaks tests"
### What version of `vite` are you using?

3.1.4

### System info and storybook versions

Environment Info:
  System:
    OS: Linux 6.0 NixOS 22.05 (Quokka) 22.05 (Quokka)
    CPU: (16) x64 AMD Ryzen 7 PRO 5850U with Radeon Graphics
  Binaries:
    Node: 18.9.1 - /nix/store/zvl9fx0mcjrkyy1frxsq86j2gxxrr2qa-nodejs-18.9.1/bin/node
    Yarn: 1.22.18 - /nix/store/6vm0f48krwxnl6mmi5rh47r97kmxwhng-yarn-

[2022-11-16 15:27] IanVS commented on #522
Sorry, without a reproduction or some more details, we won't be able to help much.

[2022-11-16 15:27] AthulMuralidhar commented on #522
(tried to add more info, but couldn't for some reason)

- this only happens with imports - the old versions work - what i mean by this is: everything works before running `npx sb@next automigrate`

[2022-11-16 15:27] AthulMuralidhar commented on #522
@IanVS fair enough :)

[2022-11-16 15:28] IanVS commented on #522
Are you trying to upgrade to 7.0?

[2022-11-16 15:53] AthulMuralidhar commented on #522
yes, i'm working on trying to make a minimal reproducible example - but to answer your question: not really no - not trying to upgrade to 7.0

[2022-11-16 16:38] #522 closed

[2022-11-16 16:38] AthulMuralidhar commented on #522
closing issue due to fix being found :) thanks!

[2022-11-17 20:23] lucianobarauna commented on #409
@dantman this solution worked in my case

[2022-11-18 03:47] jcollicoat commented on #286
Hey Ian, we're currently updating our Storybook to v7 alpha with vite, and are experiencing some discrepancies between our `import.meta.env` in when developing vs building. I've created a minimal repo with some examples here: https://github.com/jcollicoat/vite-storybook

I'd appreciate any help I can get on this! Please let me know if I can add more info or if this should be posted elsewhere.

[2022-11-18 12:27] IanVS commented on #286
Thanks @jcollicoat, I replied in an issue, https://github.com/jcollicoat/vite-storybook/issues/1, since it's not really related to Babel configuration (this issue here).

[2022-11-20 10:40] brupelo commented on #499
@IanVS , @joshwooding  Hi guys, first of all thanks for taking a look to this one and sorry for the delay answering. Today I've allocated some time and I gave it a shot to the latest 0.2.5 version from scratch. Pasting couple of sessions that ended up without being able to bootstrap (following the start guide again, I didn't do anything fancier).

<details>
  <summary>Attempt1 (npm migration: no):

[2022-11-20 20:22] joshwooding commented on #499
@brupelo Thanks for the update. V17 of node introduced some deprecations for openssl which is what is causing those `digital envelope routines::unsupported` messages. You should be able to fix this using the `--openssl-legacy-provider` option for node https://nodejs.org/api/cli.html#--openssl-legacy-provider

You might need to control this via env variables e.g. `export NODE_OPTIONS=--openssl-lega

[2022-11-22 18:34] edunwa302 commented on #439
Thank you so much, you saved me days of debugging.

I started facing this 504 error after cloning my Laravel inertia project to my new macbook ..... it's been very frustrating as i have no clue what could be the problem.

[2022-11-23 15:22] IanVS commented on #515
@JuanjoOrt can you provide any more details that might help with troubleshooting the problem?  I asked a few questions above, but did not get an answer.

[2022-11-24 05:29] nedkelly commented on #141
I was having trouble after upgrading a project to use Yarn PnP, I was getting similar errors to others who've had problems with Yarn PnP + Storybook, so I just spun up a fresh React + TypeScript + Tailwind project on Yarn 3.3.0 with PnP and then ran `yarn dlx storybook init`, all was successful during install and I got the "To run your Storybook, type: `yarn storybook`" message, which I did.

It s

[2022-11-24 13:40] IanVS commented on #141
@nedkelly many of these issues have been fixed in storybook 7.0, if you're willing to give that a shot you'll have much better luck when using pnp or pnpm. I think you still have to instll one extra MDX dependency, but we're trying to find a way to avoid that. `npx sb@next init` if you want to try it.

[2022-11-24 19:40] nedkelly commented on #141
Thanks @IanVS, I'll give it a go!

[2022-11-24 19:41] benglewis commented on #33
I just tried this with `@svgr/rollup` and `vite-plugin-svgr` and it also isn't working for me :'(

[2022-11-24 21:11] IanVS commented on #33
@benglewis can you please open a new issue with all the details so we can help?

[2022-11-24 21:43] nedkelly commented on #141
@IanVS Unfortunately with a clean build starting with Storybook v7.0.0-alpha.53 I get the same error `Failed to resolve import "@storybook/preview-web"`, this is a completely clean from scratch project with minimal config.

[2022-11-24 21:55] IanVS commented on #141
That might be a regression, we'll take a look, thanks!

[2022-11-24 22:53] nedkelly commented on #141
@IanVS  You might be pleased to know that I just spun up another project with the same base source code, but this time I built it on a fresh Webpack 5 config and I get the exact same error from Storybook v7.0.0-alpha.53, so I don't think this is related to the vite-builder at all, looks like Yarn PnP + Storybook is the culprit.

[2022-11-25 00:41] IanVS commented on #141
Ok, that's the last mdx dep that I mentioned were still finding a way to deal with. For now you can just install it manually in your project.

[2022-11-28 22:47] unional commented on #515
Hi, sorry for the late reply. It turns out it is VS code Live Server issue.

Running with `npx http-server storybook-static` works fine. thx

[2022-11-28 22:47] #515 closed

[2022-11-29 14:07] wilbsy commented on #237
.npmrc file in root directory with the following lines solved for me:
[code]